<style>
form
{
		max-width: 300px;
		/*padding: 15px; */
		margin: 0 auto;
}
form .form-control
{
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
form .form-control:focus
{
		z-index: 2;
}
form input[type="email"]
{
		margin-bottom: -1px;
}
form input[type="password"]
{
		margin-bottom: 0;
}

<% if browser.device.mobile? %>
	input{
		border: 1px solid black!important;
	}
<% end %>

.reg_cancel{
	color: white;	
}
.policy {
	white-space:nowrap;
	font-weight: bold;
	color: skyblue;
	cursor: pointer;
}

a{
	color: #333333;
}

a:hover{
	color: #333333;
	text-decoration: none;
}

.login_btn{
	<% if not browser.device.mobile? %>
	background: transparent ; border: 1px solid white;  width:300px;
	color:white;
	<% else %>
	background: transparent ; border: 1px solid #333333;  width:300px;
	color:#333333;
	<% end %>
}

.facebook_btn {
	<% if not browser.device.mobile? %>
	background: transparent ; border: 1px solid white;  width:300px;
	color:white;
	<% else %>
	background: transparent ; border: 1px solid #333333;  width:300px;
	color:#333333;
	<% end %>
}

.register_btn{
	<% if not browser.device.mobile? %>
		background: white; color:black;  width:300px;
	<% else %>
		background: #333333; color:#f5f5f5;  width:300px;
	<% end %>
}


.gray-and-white{
	<% if not browser.device.mobile? %>
		color:white;
	<% else %>
		color:#333333;
	<% end %>
}
</style>

<div>
	<%= form_for(:session, url: login_path, class: "form-signin") do |f| %>	
		<% if flash[:notice] %>
			<div style="color:white; font-size: 1.3em; background:rgba(20,20,20, 0.5); margin-bottom: 2%; padding:3%;">
					<%= flash[:notice].html_safe %>
			</div>
		<% end %>
		<%= f.email_field :email, class: 'form-control',  placeholder: "이메일 주소" %>	
		<%= f.password_field :password, class: 'form-control',  placeholder: "비밀번호" %>	
		<%= f.submit id:"login-btn", class: "hidden" %>
	<% end %>
</div>

<div style="margin-top: 5px">
<div>
	<button class="btn btn-block login_btn"  onclick='$("#login-btn").click()'>로그인</button>
</div>

<div style="margin-top: 5px" >
	<%= link_to raw('<button class="btn btn-block facebook_btn" >페이스북 로그인</button>'), '/auth/facebook'%> 
</div>
<div style="margin-top: 5px">
	<%= link_to raw('<button class="btn btn-block register_btn">가입하기</button>'), new_user_path %> 
</div>

<div style="margin-top: 15px">
	<a href="/posts" class="gray-and-white"> 비회원 입장 </a>
	<div style="height:5px;"></div>
	<span class="gray-and-white" style="cursor:pointer;" onclick="alert('임시비밀번호 발급 문의 \narchifeeld2013@gmail.com')"> 비밀번호 찾기</span> 
</div>

<div style="width:300px;margin-top: 10px">
	<span class="policy" data-toggle="modal" data-target="#policyModal" href="#">이용약관</span><span class="gray-and-white"> , </span><span  class="policy" data-toggle="modal" data-target="#policyModal2" href="#">개인정보정책</span><span class="gray-and-white"> 및 </span><span  class="policy" data-toggle="modal" data-target="#policyModal3" href="#">콘텐츠가이드라인</span>
</div>

<!-- Modal -->
<div style="color:black; text-align:left;" class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><h4 class="modal-title" id="policyModalLabel">필디 이용약관</h4></strong>
      </div>
      <div class="modal-body">
				<%#= Post.find(1639).content.gsub(/\n/, '<br/>').html_safe%>
				<%= auto_link(Post.find(1639).content.gsub(/\n/, '<br/>'))%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div style="color:black; text-align:left;" class="modal fade" id="policyModal2" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><h4 class="modal-title" id="policyModalLabel2">필디 개인정보취급방침</h4></strong>
      </div>
      <div class="modal-body">
				<%#= Post.find(1640).content.gsub(/\n/, '<br/>').html_safe%>
				<%= auto_link(Post.find(1640).content.gsub(/\n/, '<br/>'))%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div style="color:black; text-align:left;" class="modal fade" id="policyModal3" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><h4 class="modal-title" id="policyModalLabel2">필디 콘텐츠가이드라인</h4></strong>
      </div>
      <div class="modal-body">
				<%#= Post.find(1640).content.gsub(/\n/, '<br/>').html_safe%>
				<%= auto_link(Post.find(1966).content.gsub(/\n/, '<br/>'))%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>


