<style>
form
{
		max-width: 300px;
		/*padding: 15px; */
		margin: 0 auto;
}
form .form-control
{
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
form .form-control:focus
{
		z-index: 2;
}
form input[type="email"]
{
		margin-bottom: -1px;
}
form input[type="password"]
{
		margin-bottom: 0;
}
.reg_cancel{
	color: white;	
}
.form-btns{
	width: 300px;
}
</style>

<div>
	<%= form_for(:session, url: login_path, class: "form-signin") do |f| %>	
		<div style="color:white; background:rgba(20,20,20, 0.2); margin-bottom: 2%;">
		<% if flash[:notice] %>
			<%= flash[:notice].html_safe %>
		<% end %>
		</div>
		<%= f.email_field :email, class: 'form-control', required: true, placeholder: "이메일 주소" %>	
		<%= f.password_field :password, class: 'form-control', required: true, placeholder: "비밀번호" %>	
		<%= f.submit id:"login-btn", class: "hidden" %>
	<% end %>
</div>
<div style="margin-top: 5px">
<div>
	<%= link_to image_tag('login.png', class: "form-btns"), '#', onclick: '$("#login-btn").click()' %> 
</div>
<div style="margin-top: 5px">
	<%= link_to image_tag('facebooklogin.png', class: "form-btns"), '/auth/facebook'%> 
</div>
<div style="margin-top: 5px">
	<%= link_to image_tag('facebookjoin.png', class: "form-btns"), '/auth/facebook'%> 
</div>
<div style="margin-top: 5px">
	<%= link_to image_tag('register.png', class: "form-btns"), new_user_path %> 
</div>
<div style="margin-top: 15px">
	<a href="/posts" style="color:white"> 비회원 입장 </a> <br>
	<a href="/#" style="color:white" onclick="alert('현재 비밀번호 찾기 기능 구현중에 있습니다.(5월초 구현예정)\n임시비밀번호 발급 문의는 \nwpdls6012@naver.com으로 부탁드리겠습니다.')"> 비밀번호 찾기</a> 
</div>
