<% if comment.post.user.id != comment.user.id %>
	<article id="comment_<%=comment.id %>" class="row">
		<div class="col-md-2 col-sm-3 col-xs-3">
			<figure class="thumbnail">
				<%= link_to "/my_feeld?user_id=#{comment.user.id}" do%>
					<% if comment.user.use_photo %>
						<img class="img-responsive" src="<%=comment.user.photo%>" />
					<% else %>
						<img class="img-responsive" src="<%=comment.user.image_url%>" />
					<% end %>
				<% end %>
			</figure>
		</div>
		<div class="col-md-10 col-sm-9 col-xs-9">
			<div class="panel panel-default arrow left">
				<div class="panel-body">
					<header class="text-left">
						<time class="comment-date">
							<i class="fa fa-clock-o"></i>&nbsp;
							<span style="color:gray; font-size:0.9em;"><%= time_ago_in_words(comment.created_at) %> 전에</span>
						</time>
					</header>
					<div class="comment-post">
						<p class="text-left">
							<%= comment.body.gsub(/\n/, '<br/>').html_safe %>
						</p>
					</div>
					<% if current_user and current_user.id == comment.user.id  %>
						<p class="text-right">
							<%= link_to "댓글삭제", [comment.post, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "comment-delete" %>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</article>
<% else %>
	<article id="comment_<%=comment.id %>" class="row">
		<div class="col-md-10 col-sm-9 col-xs-9">
			<div class="panel panel-default arrow right">
				<div class="panel-body">
					<header class="text-right">
						<time class="comment-date">
							<i class="fa fa-clock-o"></i>&nbsp;
							<span style="color:gray; font-size:0.9em;"><%= time_ago_in_words(comment.created_at) %> 전에</span>
						</time>
					</header>
					<div class="comment-post">
						<p class="text-right">
							<%= comment.body.gsub(/\n/, '<br/>').html_safe %>
						</p>
					</div>
					<% if current_user and current_user.id == comment.user.id %>
						<p class="text-left">
							<%= link_to "댓글삭제", [comment.post, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "comment-delete" %>
						</p>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-3">
			<figure class="thumbnail">
				<%= link_to "/my_feeld?user_id=#{comment.user.id}" do%>
					<% if comment.user.use_photo %>
						<img class="img-responsive" src="<%=comment.user.photo%>" />
					<% else %>
						<img class="img-responsive" src="<%=comment.user.image_url%>" />
					<% end %>
				<% end %>
			</figure>
		</div>
	</article>
<% end %>

