<script>
	//$(function(){
	//	$('#user_edit_panel').hide().slideDown()	
	//})
</script>

<div id="user_edit_panel">
	<%# http://stackoverflow.com/questions/2821061/facebook-api-how-do-i-get-a-facebook-users-profile-image-through-the-facebook %>
	<table class="table" style="width:30%">
	<tr>
		<td>
		<% if @user.user_type == 1 %>
			페북 프로필 사진  
		<% end %> 
		</td>	
		<td>	
		<% if @user.photo %>
			프로필 사진 별도 설정 
		<% end %>
		</td>
	</tr>
	<tr>
		<td>
		<% if @user.user_type == 1 %>
			<%= image_tag("//graph.facebook.com/#{@user.uid}/picture?type=large&width=130&height=130", id: "message_box") %>
		<% end %> 
		</td>
		<td>	
		<% if @user.photo %>
			<%=image_tag(@user.photo, class: "my_feeld_profile_img") %>
		<% end %>
		</td>
	</tr>
	</table>

	<div id="user_info_name_dept">
		<label>이름</label>
		<br>
		<span style="font-weight: bold; font-size: 2em;">
			<%= @user.name %>
		</span>
	<%= form_for(@user) do |f| %>
		<div style="color:white; background:rgba(20,20,20, 0.2); margin-bottom: 2%;">
			<% @user.errors.full_messages.each do |msg| %>
				<div><%=msg %> </div>
			<% end %>
		</div>
		<div class="form-inputs">
			<% if @user.user_type == 0 %>
			<%= f.label :password, '비밀번호'%>
				<%= f.password_field :password, placeholder: "비밀번호 입력", class: "form-control" %>
				<div style="height:5px;"></div>
				<%= f.password_field :password_confirmation, placeholder: "비밀번호 확인",  class: "form-control" %>
			<% end %>

			<div style="height:15px;"></div>
			<%= f.label :nickname, '닉네임'%>
			<%= f.text_field :nickname, placeholder: "닉네임을 입력해주세요", class: "form-control" %>
			<%= f.label :use_nick, '닉네임 노출 여부'%>
			<%= f.check_box :use_nick, placeholder: "Name" %>

			<div style="height:15px;"></div>
			<%= f.label :company, '소속'%>
			<%= f.text_field :company, placeholder: "소속을 입력해주세요", class: "form-control" %>

			<div style="height:15px;"></div>
			<%= f.label :photo, '프로필 사진 별도 설정'%>
			<%= f.file_field :photo, class: "form-control", as: :file %>
			<% if @user.user_type == 0 %>
				<%= f.hidden_field :use_photo, class: "form-control", value: true %>
			<% else %>
				<%= f.label :photo, '프로필 사진 노출 여부'%>
				<%= f.check_box :use_photo %>
			<% end %>
		</div>
	<br>
	<br>
		<div class="form-actions">
			<%= f.submit :submit , class:"form-control btn-info" %>
		</div>
	<% end %>
	</div>
</div>
