<style>
form
{
		max-width: 300px;
		/*padding: 15px; */
		margin: 0 auto;
}
form .form-control
{
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
form .form-control:focus
{
		z-index: 2;
}
form input[type="text"]
{
		margin-bottom: -1px;
}
form input[type="password"]
{
		margin-bottom: -1px;
}
.reg_cancel{
	color: white;	
}

.form-btns{
	width: 300px;
}

</style>

<div>
<%= form_for(@user) do |f| %>
	<div style="color:white; background:rgba(20,20,20, 0.2); margin-bottom: 2%;">
		<% @user.errors.full_messages.each do |msg| %>
			<div><%=msg %> </div>
		<% end %>
	</div>
	<div class="form-inputs">
		<%= f.text_field :email, placeholder: "이메일" , class: "form-control"%>
		<%= f.text_field :name, placeholder: "이름", class: "form-control" %>
		<%= f.password_field :password, placeholder: "비밀번호", required: true, class: "form-control" %>
		<%= f.password_field :password_confirmation, placeholder: "비밀번호 확인", required: true, class: "form-control" %>
		<%= f.hidden_field :user_type, value: 0 %>
	</div>
	<div class="form-actions">
		<%= f.submit :submit, class: "hidden", id: "register_btn" %>
	</div>
<% end %>
</div>
<div style="margin-top: 10px">
	<%= link_to image_tag('registered.png', class: "form-btns"), '#', onclick: "$('#register_btn').click()" %> 
</div>
<div style="margin-top: 20px">
	<%= link_to '취소', '/login', class: "reg_cancel" %>
</div>
