<% if not browser.device.mobile? %>
	<%= render 'posts/contents_controllbar'%>
<% end %>

<div class="container">
	<div id="project_info_panel">
		 <div id="project_photo">
			<%#= image_tag(@project.photo)%>
			<% if @project.photo %>
				<%= image_tag(@project.photo) %>
			<% else %>
				<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5zMJSxs75XUMZo3qVrkCcJbMK11TyGph_BC0Z34UBPgDrT2Nj7Q")%>
			<% end %>
			<div id="bgalpha" style="background:rgba(0,0,0,0.4); position:absolute; top:0; left:0; width:100%;"></div>
			<div id="project_title"><%= @project.name %></div>
			<% if current_user %>
				<div id="project_like"> 
					<center>
						<span id="project_like_text">
							<% if Plike.find_by(project_id: @project.id, user_id: current_user.id) %>
								<%= link_to "추천 취소", project_plikes_path(@project.id), id: "project_plikes", method: :post, remote: true %>
							<% else %>
								<%= link_to "바인더 추천", project_plikes_path(@project.id), id: "project_plikes", method: :post, remote: true %>
							<% end %>
						</span>
						<strong id="plikes_count"> <%=@project.plikes.count%></strong>
					</center>
				</div>
			<% end %>
			<script>
				$(function(){
					$('#bgalpha').css('height', $('#project_photo').height());

					_top = $('#project_photo').height()/2 - 20
					_left = ($('#project_photo').width() - $('#project_title').width()) / 2 - 5 
					_left2 = ($('#project_photo').width() - $('#project_like').width()) / 2
					$('#project_title').css('top', _top).css('left', _left)	
					$('#project_like').css('left', _left2)	
				})
			</script>
		</div>

		<div id="project_desc">
			<div style="height: 50%">
				<%= @project.desc %>
			</div>

			<div style="height: 50%">
				<% @project.tag_list.each do |tag| %>
					<div class="tag_div" style="margin:4px 2px;">
						<a href="#" class='tag' style="background:transparent; color:gray;">
							<%=tag%>
						</a>
					</div>
				<% end %>
			</div>
		</div>

		<div id="project_counts_info">

			<div id="user-info">
				<div style="float:left; margin-right:5px;">
					<% if @user.use_photo %>
						<%= link_to image_tag(@user.photo, class:"img-circle"), "/my_feeld?user_id=#{@user.id}"%>
					<% else %>
						<%= link_to image_tag(@user.image_url, class:"img-circle"), "/my_feeld?user_id=#{@user.id}" %>
					<% end %>
				</div>
				<div style="float:left">
					<% if @user.use_nick %>
						<%= link_to @user.nickname, "/my_feeld?user_id=#{@user.id}"%>
					<% else %>
						<%= link_to @user.name, "/my_feeld?user_id=#{@user.id}"%>
					<% end %>
					<br>
					<span class="company">@<%= @user.company %></span>
				</div>
			</div>
			<div style="clear:both"></div>

			<div style="height:20px"></div>

			<table>
				<tr>
					<td>게시글</td>
					<td>구성원</td>
					<td>추천</td>
				</tr>
				<tr style="font-weight:bold; font-size:1.8em;">
					<td>???</td>
					<td>???</td>
					<td>???</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
				<% if current_user and current_user.id == @project.user.id %>
					<%= link_to "바인더 삭제", @project, method: :delete, data: { confirm:	"바인더가 삭제됩니다! 정말 삭제하시겠습니까?" } %> <br>
					<%= link_to "바인더 수정", edit_project_path(@project.id), id:"edit" %><br>
				<% end %>
		</div>
	</div>

	<div style="clear:both"></div>

	<div id="posts-container">
		<%= render @posts %>
	</div>
</div>

<script >

	//	tag_truncate()
	var result = ""
	$('.tag_list').each(function(){	
		tmp_arr = $(this).html().split(",").slice(0, 3);
		result = tmp_arr.join();
		//	result += " <strong> ...+</strong> "
		if ($(this).html().split(",").length > 3)
			$(this).html(result + '&nbsp; <i class="fa fa-ellipsis-h"></i>');
	})
	//	tag_truncate()
	
</script>
