<% posts.each do |post| %>
	<div class="connect-item">
		<%# 링크 타입이면 %>
		<%# 링크 타입이면 %>
		<% if post.post_type == 2 %>
			<%= link_to post  do %>
				<% if post.link and post.link.image_url %>
					<%= image_tag(post.link.image_url) %>
				<% else %>
					<!--<h3>이미지를 가져올 수 없습니다;(</h3>-->
				<% end %>
			<% end %>
		<% elsif post.photos.count > 0 %>
			<%= link_to image_tag(post.photos[0].image), post %>
		<% else %>
			<%= link_to image_tag("project_default.jpg"), post %>
		<% end %>


		<div class="ci-info">
			<% if not browser.device.mobile? %>
				<div class="ci-title"><%= link_to post.title, post %></div>
			<% else %>
				<div class="ci-title"><%= post.title %></div>
			<% end %>
			<div class="ci-content"><%= post.content %></div>
			<div style="height:40px;"></div>

			<div class="ci-tags">
				<% if post.tag_list.count > 0 %>
					<% post.tag_list.each do |tag| %>
						<div style="margin:4px 2px; float:left;"><a href='/posts?tag=<%= tag %>' class='tag' style="background:transparent; color:gray;"><%= tag %></a></div>
					<% end %>
				<% end %>
			</div>	
		</div>
	</div>
<% end %>
