<script>
// 각 이미지에 달리는 캡션은, 이미지의 제목을 키로해서 저장된다
var captions = {};

$(function(){

	// 업로드 혹은 수정을 마친다는 표현
	// 만약 사진을 업로드하게 되면 이부분 무시하고 섭밋 누름
	$('#feeldup-submit-link').click(function(){
		if ($('#input_post_title').val().length == 0 ){
			alert('제목을 입력해 주세요;)') 	
			return 
		}
		// 완전히 끝이라는 표시
		$('#finish').val('1');

		$('#feeldup-submit').click();

		captions = {};
		$('#finish').val('0');
	})
	
	$('.preview-img').each(function(index){
		// 해당 셀렉터의 결과가 null인지 판단하는 방법이 .length이다.
		if ( $("#" + $(this).attr('id') + '-caption').length ){
			// pass		
		} else {
			// 애초에 이미지에 data-caption으로 이미지태그에 넣어놓고 
			// 여기서 캡션 만드는 과정에서 벨류 넣어야겠네!
			// captions json에도 초기화해야돼
			$("#" + $(this).attr('id') + "-container")
					.append('<center><input class="form-control" \
							id="'+ $(this).attr('id') + '-caption" \
							style="width: 60%; margin-top: 5px; margin-bottom:20; font-size:1em;" \
							placeholder="캡션을 달아주세요 (200자 이하)"></center>')	
			/*
			$("#" + $(this).attr('id') + "-container")
					.css('position', 'relative')
					.append('<input class="form-control" \
							id="'+ $(this).attr('id') + '-caption" \
							style="background:rgba(0,0,0,0.6); color:white; position:absolute; margin-left:10%; top:45%; left:0; width: 80%;" \
							placeholder="캡션을 달아주세요 (200자 이하)">')	
			*/

			// 만약 이미 캡션을 가지고 있으면
			if ($(this).attr('data-caption') != null){
				// 이미 들어있는 것으로 input 태그를 세팅해주고
				$('#' + $(this).attr('id') + '-caption').val($(this).attr('data-caption'))
				// caption hash에도 넣어놓는다
				captions[$(this).attr('id').split('-')[1]] = $(this).attr('data-caption')
			}

			// 입력 할 때마다 caption을 초기화 
			$('#' + $(this).attr('id') + '-caption').keyup(function(){
				captions[$(this).attr('id').split('-')[1]] = $('#' + $(this).attr('id')).val()
			})

		}
	})
	
	// captions에 들어있는 JSON데이터를 string화해서 captions 히든태그에 value로 넣는다 
	// 서버에서는 이걸 열어봐서 JSON파싱한 이후에 캡션의 업데이트 혹은 생성 여부를 판단한다.
	$('#feeldup-submit').click(function(){
		$('body').LoadingOverlay("show")
		$('#captions').val(JSON.stringify(captions, null, 1))
	})

	// 사진 업로드시 일단 서버로 전송 
	$('#images_').change(function(){
		// post type 1번으로 고친 후에 보내기
		$('#post_type').val(1)		
		$('#feeldup-submit').click()
	})

})
</script>

<style>
	a{
		color: black;	
	}
	#form_container_for_photoup textarea {
		background-color: white !important;
	}
	.preview-img{
		position: relative;
		width: 60%;	
	}

	textarea{
		overflow:hidden;
		font-size: 1em !important;
		width: 100%;
	}

	#edit-super-container {
		position:relative;
	}

	#edit-super-container input[type="text"]{
		font-size: 1em;
		width: 100%;
	}

	#edit-container{
		position:absolute; left:0; width: 70%; margin-right:1%; margin-bottom:50px;
	}
	#edit-controller{
		position:fixed; width:20%; 
		height:550px; background:white; 
		padding:1%; overflow-y: auto; overflow-x: hidden; 
		font-size: 1.2em; border-radius: 5px 5px 5px 5px;
	}

	#project_radio_container{
		border: 1px solid rgb(200,200,200);	
		border-radius: 5px;
		padding: 5px;
		height: 210px;
		overflow: auto;
	}
	
	input:focus,
	textarea:focus{
		outline: none;
	}

	.makebinder{
		width: 100%;	
		height: 50px;
	}

</style>



<!-- 에디터 시작  -->
<!-- 에디터 시작  -->
<!-- 에디터 시작  -->
<!-- 에디터 시작  -->

<div class="container">
	<!-- edit-super-container -->
	<!-- edit-super-container -->
	<!-- edit-super-container -->
	<!-- 요소들의 절대 위치를 원활히 지정하기 위해선 부모가 relative여야만 하는것 같다 -->
	<div id="edit-super-container" >
		<%= form_for @post, html: {multipart: true}  do |f| %>
		<!-- edit-container -->
		<!-- edit-container -->
		<!-- edit-container -->
		<div id="edit-container" > 
			<div style="background: white; border-radius: 5px; padding: 10px;">
				<%# 제목 필드 %>
				<%# 제목 필드 %>
				<%# 제목 필드 %>
				<%= f.text_field :title, :id => 'input_post_title', :placeholder => '제목을 입력해 주세요' %>
				
				<%# 사진 추가되는 필드 %>
				<%# 사진 추가되는 필드 %>
				<%# 사진 추가되는 필드 %>
				<div style="margin-bottom: 10px"></div>
				<% @post.photos.each do |photo| %>
					<div style="margin-bottom: 10px"></div>
					<center>
						<div id="preview-<%=photo.id%>-container" style="position:relative">
							<% if photo.caption %>
								<%= image_tag photo.image, id: "preview-#{photo.id}", class: "preview-img", data: {caption: photo.caption} %>
							<% else %>
								<%= image_tag photo.image, id: "preview-#{photo.id}", class: "preview-img" %>
							<% end %>
							<%= link_to photo_path(photo.id), method: :delete, remote: true, data:{confirm:"사진을 삭제합니다"}  do%>
								<div style="background:url(<%=image_path('xbtn.png')%>); background-size:20px; position:absolute; top:0; right:0; width: 20px; height:20px;">
								</div>
							<% end %>
						</div>
					</center>
				<% end %>


				<%# 내용 필드 %>
				<%# 내용 필드 %>
				<%# 내용 필드 %>
				<div style="margin-bottom: 10px"></div>
				<%= f.text_area :content,  placeholder: "내용을 입력해주세요", rows: '5'%>

				<%# 비밀글 필드 %>
				<%# 비밀글 필드 %>
				<%# 비밀글 필드 %>
				<div class="has-error">
					<div class="checkbox">
						<label style="margin-left: 1%;">
							<%= f.check_box :is_secret %>
							<i class="fa fa-lock"></i>&nbsp;	비공개
						</label>
					</div>
				</div>
			</div>

			<%# 태그 필드 %>
			<%# 태그 필드 %>
			<%# 태그 필드 %>
			<div style="margin-bottom: 15px"></div>
			<div style="background: white; border-radius: 5px; position:relative; width:100%;">
				<%= f.text_field :tag_list_fixed, class: 'form-control', placeholder: "태그를 입력해 주세요 (쉼표로 구분)" %>
				<div id="tag_search" style="position:absolute; top:0; right:0; margin-right: 10px; font-size: 1.5em; padding-top: 2px; padding-left: 6px; cursor:pointer;">
					<i class='fa fa-search' aria-hidden='true'></i>
				</div>
			</div>

			<div style="clear:both"></div>

			<%# 이미지 업로드 버튼 %>
			<%# 이미지 업로드 버튼 %>
			<%# 이미지 업로드 버튼 %>
			<div style="margin-bottom: 15px"></div>
			<div style="background: white">
				<label for="images_" class="btn btn-block" style="background: white; border: 1px dashed black; font-size:1.4em">이미지 업로드</label>
				<input type="file" name="images[]" id="images_" multiple="multiple" accept="image/png,image/gif,image/jpeg" class="hidden" >
				<%= hidden_field_tag "captions" %>
			</div>
		</div>
		<!-- edit-container end-->
		<!-- edit-container end-->
		<!-- edit-container end-->

		<!-- edit-controller -->
		<!-- edit-controller -->
		<!-- edit-controller -->
		<div id="edit-controller" >

			<div style="color:#BBBBBB; font-size:1.1em;">세부 설정</div>
			<div style="margin-bottom: 10px;"></div>

			<div id="category-pikcer">
				<select class="form-control">
					<option disabled >카테고리 선택</option>
					<option selected >작품</option>
					<option>커뮤니티</option>
					<option>커넥트</option>
				</select>
				<div style="margin-bottom: 5px;"></div>

				<select class="form-control">
					<option selected disabled >분야 선택</option>
					<option>건축학</option>
					<option>실내건축</option>
					<option>산업디자인</option>
					<option>시각디자인</option>
				</select>
				<div style="margin-bottom: 5px;"></div>

				<select class="form-control">
					<option selected disabled >공개 범위 설정</option>
					<option>전체공개</option>
					<option>친구공개</option>
					<option>비공개</option>
				</select>
				<div style="margin-bottom: 5px;"></div>
			</div>

			<div style="margin-bottom: 10px;"></div>
			<div style="color:#BBBBBB; font-size:1.1em;">바인더(프로젝트)관리</div>
			<div style="margin-bottom: 10px;"></div>
			<%# 프로젝트 리스트 아이템 %>
			<%# 프로젝트 리스트 아이템 %>
			<%# 프로젝트 리스트 아이템 %>
			<div id="project_radio_container">
				<div>
					<%= f.radio_button(:project_id, "") %>
					&nbsp;선택 안함
				</div>
				<% current_user.projects.each do |project| %>
					<%= render 'projects/project_radio', project: project, f: f %>
				<% end %>
			</div>

			<%# 바인더 만들기 버튼 %>
			<%# 바인더 만들기 버튼 %>
			<%# 바인더 만들기 버튼 %>
			<div style="position:absolute; bottom:0; width:90%; height:50px; margin-left: 1%; margin-bottom: 55px;">
				<%= link_to new_user_project_path(current_user.id), remote: true do%>
					<button class="btn btn-block" style="background: white; border: 1px solid black; font-size:1.2em" >바인더 만들기</button>
				<% end %>
			</div>

			<div style="position:absolute; bottom:0; width:90%; height:50px; margin-left: 1%; margin-bottom: 1%;">
				<a href="#" id="feeldup-submit-link" class="btn btn-block" style="background: white; border: 1px solid black; font-size:1.2em"><strong>올리기</strong></a> 
			</div>
		</div>
		<!-- edit-controller 위치 업데이트 스크립트 -->
		<!-- edit-controller 위치 업데이트 스크립트 -->
		<!-- edit-controller 위치 업데이트 스크립트 -->
		<script>
			$(function(){
				// 바로 호출하면 이전에 content container사이즈를 조정하는 시간? 때문에 left margin값이 -가 나와서 오류가있었다
				// 일단 임시 처방으로 5ms의 딜레이를 주었다
				setTimeout(updatePositionEditContainer, 5);

				$( window ).resize(function() {
					updatePositionEditContainer();
				})
			})

			function updatePositionEditContainer(){
				var left_offset = parseFloat($('#edit-container').offset()["left"])
				var width = parseFloat($("#edit-container").css('width'))
				var extra_offset = 15 // edit-container 와 edit-controller사이의 10px정도의 오프셋 
				$("#edit-controller").css("left", left_offset + width + extra_offset)
			}
			// app/assets/javascripts/posts.js의  function postsColumnResize()에 의존하는 함수
			// app/assets/javascripts/posts.js의  function postsColumnResize()에 의존하는 함수
			// app/assets/javascripts/posts.js의  function postsColumnResize()에 의존하는 함수
			function getLeftMarginOfContentsContainer(){
				//var pWidth = $('.posts-item').width() // 없을 땐 너비를 못찾아서절대값 넣음 
				var pWidth = 215 
				var rWidth = $('#right_fixed_menu').width()
				var except_RFM = $(window).width() - (rWidth + 25) // 25 : RFM의 오른쪽 마진
				return (except_RFM - $('#contents-container').width())/2
			}
		</script>
		<!-- edit-controller end -->
		<!-- edit-controller end -->
		<!-- edit-controller end -->
				

		<%# 이 템플릿은 new, edit에서 공유하고 있다 %>
		<%# 새로 생성하는 경우에만 이거 적용 %>
		<%# 이미지 타입이라면 val 1로 바꿔주고 있음%>
		<% if @isNew %>
			<%= f.hidden_field(:post_type, value: 0, id: "post_type") %>
		<% else %> 
			<%# edit일 경우엔 %>
			<%= f.hidden_field(:post_type, value: @post.post_type, id: "post_type") %>
		<% end %>


		<%# 업로드 버튼 직접 클릭시 finish 1로 바뀜%>
		<%= hidden_field_tag "finish", 0 %>

		<%# 진짜 서브밋 버튼은 여기에 %>
		<%= f.button :submit, class: "hidden", id: "feeldup-submit" %>

		<% end %>
	</div>
	<!-- edit-super-container -->
	<!-- edit-super-container -->
	<!-- edit-super-container -->


	<%# 이 큰 버튼은 모바일에서만 보이게 바꾸기 %>
	<%# <button id="feeldup-submit-link" class="btn btn-block" style="background: white; border: 1px solid black; font-size:1.2em">업로드</button> %>


	<%= javascript_include_tag "autogrow.js" %>
	<script>
	$('textarea').autogrow({onInitialize: true});	
	</script>


</div>
<!-- ta : tag add -->
<div id="ta_overlay">
	<div id="ta_search_container">
		<input id="ta_search_input" type="text" placeholder="태그 검색...">
		<div id="ta_search_reco">
			<div class="ta_search_reco_item">추천태그</div>	
		</div>	
	</div>
</div>
<script>
	var tags = [];
	$(function(){
		if ($('#post_tag_list_fixed').val() == ""){
			tags = [] 
		}
		else {
			$('#post_tag_list_fixed').val().split(',')
		}
		//alert(tags.length)

		// search nav item
		// search nav item
		$('#tag_search').click(function(){
			 $('#ta_overlay').css('width', $(window).width())
								.css('height', $(window).height())
								.show()
			 $('#ta_search_input').focus()
		})

		$('#ta_overlay').click(function(){
			$(this).hide()
			$('#ta_search_input').val("")
			$('#ta_search_reco').html('<div class="ta_search_reco_item">추천태그</div>')
		})

	 // search input event
	 // search input event
		$('#ta_search_container')
			.css('margin-top', $(window).height()/4).click(function(){return false;})

		$('#ta_search_input').click(function(){
			 return false;

		}).keyup(function(e){
				$.ajax({
				 url: '/tag_search',
				 type: 'GET',
				 data: {
					tag: $('#ta_search_input').val(),
				 },
				 success: function(data){
					h = ""
					$.each(data, function(index, obj){
						h += "<div class='ta_search_reco_item'>"+ obj.name +"</div>"	
					})
					$('#ta_search_reco').html(h)
					$('.ta_search_reco_item').click(function(){
						$('#ta_search_input').val($(this).text())
					})
				 }
				})
				if (e.keyCode == 13) {
					$('#ta_overlay').hide();
					tags.push($('#ta_search_input').val())
					$('#post_tag_list_fixed').val(tags.join(", "))

					$('#ta_search_input').val("")
				} 
		})

		$('#ta_search_reco').perfectScrollbar();
})
</script>
