<script>
var fileCount = 0;

// 각 이미지에 달리는 캡션은, 이미지의 제목을 키로해서 저장된다
var captions = {};

// 현재 선택한 이미지의 키를 글로벌하게 기록한다, textarea keyup event에서 참조한다
var selectedImgKey;

function previewFiles(){
	
	var preview = document.querySelector("#preview");
	var files = document.querySelector('input[type=file]').files;
	console.log(files)
	preview.innerHTML = "";
	global_files = files;

	fileCount = 0;

	// 파일이 제출되면 불리는 함수다.
	function readAndPreview(file){
			// Make sure  'file.name' matches our extensions cirteria
			//if (/\.(jpe?g|png|gif)$/i.text(file.name)){
			//if (file.name){
			var reader = new FileReader();
			reader.addEventListener("load", function(){
					var image = new Image();
					image.height = 150;
					image.width= 220;
					image.title = file.name;
					image.src = this.result;
					image.onload = function(){
						//alert($('#preview img').size())
						fileCount ++;
						// complte load 이벤트
						if (fileCount == global_files.length){
							
							// 이미지들이 정렬 가능하도록 바꾼다
							$('#preview').sortable()

							// 이미지 마다 이벤트를 걸어준다
							$('#preview img').each(function(index){
								// 일단 다 "" 을 넣음으로써 key/value가 생성되게 click에서 여기로 옮겼따
								captions[$(this).attr('title')] = ""

								$(this).draggable({
									connectToSortable: "#preview"	,
									revert: "invalid",

								}).click(function(){
									
									// textarea disabled 풀어준다.
									$('#input_post_content').removeAttr("disabled")

									// 비워준다.
									$('#input_post_content').val("")

									// 이 이후에 텍스트에리아에 작성하는 것에 대해 어디에 기록함
									var key = $(this).attr('title')

									// 현재 선택한 키를 참조해, textArea에 입력하는 값을 내부JSON에 기록한다
									selectedImgKey = key;

									// 특정 이미지에 아무 캡션도 달리지 않았을 때
									if (captions[key].trim() == ""){
										// 안내 메시지
										$('#input_post_content').attr("placeholder", "["+ $(this).attr('title')+"]  캡션을 작성해주세요;D" )
									} 
									// 키에 어떤 값이 들어갔을 때
									else {
										$('#input_post_content').val(captions[key])
									}
								})	
							})
						}
					}
					preview.appendChild(image);
			}, false);
			reader.readAsDataURL(file);
			//}
	}

	if (global_files){
			[].forEach.call(files, readAndPreview);
	}

	// textare 값 입력 이벤트
	$('#input_post_content').keyup(function(){
			captions[selectedImgKey] = $('#input_post_content').val()
	})
			
	// application.js
	prevetScrollPropFrom('#preview')


}

$(function(){
	$('#preview').perfectScrollbar(); 

	$('#feeldup-submit-link').click(function(){
		if (fileCount > 7){
			alert('파일 개수는 7개로 제한되어 있습니다(beta)') 	
		}
		else if (fileCount > 0){

			fileTitleOrder = [] 

			// 순서 구하기
			$('#preview img').each(function(index){
				fileTitleOrder.push($(this).attr('title')	)
			})

			$('#post_img_order').val(fileTitleOrder.join(','))

			// 각 이미지에 달린 캡션 하나로 합치기
			// http://api.jquery.com/jquery.parsejson/ 나중엔 이거로 파싱
			$('#post_content').val(JSON.stringify(captions, null, 1))

			$('#feeldup-submit').click();
		}
		else {
		
			alert('먼저, 파일을 선택해 주세요;D')
		}
	})

})

</script>
<div style="float:left; width:75%; height:75px; background:#F2F2F2; padding:2%;">
	<img src="<%= current_user.image_url%>" style="width:8%" class="img-rounded">&nbsp; 
	<span style="color:#4C5249; font-size:1.5em"><%= current_user.name %></span>
	<img class="modal_close" style="width:20px; height:20px;" align="right" src="/assets/xbtn.png">
</div>

<div align="center" style="float:left; width:25%; height:75px; background:white; padding:2%;">
	<div style="color:#BBBBBB; font-size:1.3em;">마이필드<br> 프로젝트 관리</div>
</div>

<%= form_for @post, remote: true, :format=>'js'  do |f| %>
<div id="form_container" style="float:left; height: 400px; width: 75%; background:#E9E9E9; padding: 10px;"> 
	<%= f.text_field :title, :id => 'input_post_title', :class => "form-control",  :placeholder => '이곳에 제목을 작성해 주세요' %>
	
	<div style="margin-bottom: 1%"></div>

	<div id="preview_container">
		<div id="preview"></div>
	</div>

	<textarea id="input_post_content" class="form-control" disabled placeholder="파일 업로드 후,
이미지를 선택(클릭)하면 캡션을 달 수 있습니다.
이미지를 드래그하면 순서를 바꿀 수 있습니다 ;D
원활한 이용을 위해 베타기간 동안
1회 파일 업로드 개수를 7개로 제한하였습니다. 
"%></textarea>

	<%= f.hidden_field :content%>
	<div class="inputWrapper">
		<%= f.file_field :images, multiple: true, accept: 'image/png,image/gif,image/jpeg', class: "fileInput", onchange: "previewFiles()" %>
	</div>

	<div style="margin-bottom: 10px"></div>

	<%= f.text_field :tag_list_fixed, class: 'form-control', placeholder: "태그 (태그는 쉼표로 구분해주세요! ex) 태그1, 태그2)" %>
	<div class="has-error">
		<div class="checkbox disabled">
			<label style="margin-left: 1%;">
				<input type="checkbox" value="secret" disabled>
				비밀글로 작성합니다
			</label>
		</div>
	</div>
</div>

<div style="float:left; width:25%; height:350px; background:#F2F2F2; padding:1%; overflow-y: scroll">
	<div id="project_radio_container">
		<div>
			<%= f.radio_button(:project_id, "") %>
			&nbsp;선택 안함
		</div>
		<% current_user.projects.each do |project| %>
			<%= render 'projects/project_radio', project: project, f: f %>
		<% end %>
	</div>
</div>
<%= f.hidden_field(:post_type, value:1) %>
<%= f.hidden_field(:img_order) %>
<%= f.button :submit, class: "hidden", id: "feeldup-submit" %>
<% end %>

<%= render "projects/form" %>

<div style="float:left; width:75%; height:75px; background:#F2F2F2;">
</div>


<div align="center" style="float:left; width:25%; height:75px; background:white; padding:5px;">
	<%= link_to image_tag('/assets/feeldup_write.png'), "#", id: "feeldup-submit-link" %> 
</div>
<!--</form>-->
