<script>
// 각 이미지에 달리는 캡션은, 이미지의 제목을 키로해서 저장된다
var captions = {};

$(function(){

	// 업로드 혹은 수정을 마친다는 표현
	$('#feeldup-submit-link').click(function(){
		if ($('#input_post_title').val().length == 0 ){
			alert('제목을 입력해 주세요;)') 	
		}

		// 완전히 끝이라는 표시
		$('#finish').val('1');
		// ajax 글쓰기 요청 
		$('#feeldup-submit').click();

		captions = {};
		$('#finish').val('0');
	})
	
	$('.preview-img').click(function(){
		// 해당 셀렉터의 결과가 null인지 판단하는 방법이 .length이다.
		if ( $("#" + $(this).attr('id') + '-caption').length ){
			// pass		
		} else {
			// 애초에 이미지에 data-caption으로 이미지태그에 넣어놓고 
			// 여기서 캡션 만드는 과정에서 벨류 넣어야겠네!
			// captions json에도 초기화해야돼
			$("#" + $(this).attr('id') + "-container")
					.css('position', 'relative')
					.append('<input class="form-control" \
							id="'+ $(this).attr('id') + '-caption" \
							style="background:rgba(0,0,0,0.6); color:white; position:absolute; margin-left:10%; top:45%; left:0; width: 80%;" \
							placeholder="캡션을 달아주세요 (200자 이하)">')	

			// 만약 이미 캡션을 가지고 있으면
			if ($(this).attr('data-caption') != null){
				$('#' + $(this).attr('id') + '-caption').val($(this).attr('data-caption'))
				captions[$(this).attr('id').split('-')[1]] = $(this).attr('data-caption')
			}

			// 입력 할 때마다 caption을 초기화 
			$('#' + $(this).attr('id') + '-caption').keyup(function(){
				captions[$(this).attr('id').split('-')[1]] = $('#' + $(this).attr('id')).val()
			})

		}
	})
	
	// captions에 들어있는 JSON데이터를 string화해서 captions 히든태그에 value로 넣는다 
	// 서버에서는 이걸 열어봐서 JSON파싱한 이후에 캡션의 업데이트 혹은 생성 여부를 판단한다.
	$('#feeldup-submit').click(function(){
		$('body').LoadingOverlay("show")
		$('#captions').val(JSON.stringify(captions, null, 1))
	})

	$('#images_').change(function(){
		$('#feeldup-submit').click()
	})

})

</script>
<style>
	#form_container_for_photoup textarea {
		background-color: white !important;
	}
	.preview-img{
		position: relative;
		width: 100%;	
	}
</style>

<div class="modal-header">
	<div id="show-post-header">
		<span class="modal-title">
			<% if current_user.use_photo %>
				<%= image_tag current_user.photo, class:"img-rounded"%>
			<% else %>
				<%= image_tag current_user.image_url, class:"img-rounded"%>
			<% end %>
			<%= current_user.name %>
		</span>&nbsp;
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
</div>

<%# feeldup의 경우에만 예외로 body padding 0 ??%>
<div class="modal-body" style="padding:0;">
	<%= form_for @post, remote: true, :format=>'js', html: {multipart: true}  do |f| %>
	<div id="form_container_for_photoup" style="float:left; height: 475px; width: 70%; background:#E9E9E9; padding: 10px; overflow:auto;"> 
		<%= f.text_field :title, :id => 'input_post_title', :class => "form-control",  :placeholder => '이곳에 제목을 작성해 주세요' %>
		
		<div style="margin-bottom: 10px"></div>
		<% @post.photos.each do |photo| %>
			<div style="margin-bottom: 10px"></div>
			<div id="preview-<%=photo.id%>-container" style="position:relative">
				<% if photo.caption %>
					<%= image_tag photo.image, id: "preview-#{photo.id}", class: "preview-img", data: {caption: photo.caption} %>
				<% else %>
					<%= image_tag photo.image, id: "preview-#{photo.id}", class: "preview-img" %>
				<% end %>
				<%= link_to photo_path(photo.id), method: :delete, remote: true, data:{confirm:"사진을 삭제합니다"}  do%>
				<div style="background:url(<%=image_path('xbtn.png')%>); background-size:30px; position:absolute; top:0; right:0; width: 30px; height:30px;">
				</div>
				<% end %>
			</div>
		<% end %>

		<div style="margin-bottom: 10px"></div>
		<div class="inputWrapper" style="width: 100%; ">
			<%# 버그가 있나봄. file_field_tag가 안떠..%>
			<input type="file" name="images[]" id="images_" multiple="multiple" accept="image/png,image/gif,image/jpeg" class="fileInput" >
			<%= hidden_field_tag "captions" %>
		</div>

		<div style="margin-bottom: 10px"></div>
		<%= f.text_area :content,  :class => 'form-control', rows: 5, placeholder: "이곳에 내용을 남겨주세요\n사진을 클릭하면 캡션을 남길 수 있습니다;D"%>

		<div style="margin-bottom: 10px"></div>
		<%= f.text_field :tag_list_fixed, class: 'form-control', placeholder: "태그 (태그는 쉼표로 구분해주세요! ex) 태그1, 태그2)" %>
		<div class="has-error">
			<div class="checkbox">
				<label style="margin-left: 1%;">
					<%= f.check_box :is_secret %>
					비밀글로 작성합니다
				</label>
			</div>
		</div>
	</div>

	<div align="center" style="float:left; width:30%; height:50px; background:white; padding:0.5%;">
		<div style="color:#BBBBBB; font-size:1.1em;">마이필드<br> 프로젝트 관리</div>
	</div>

	<div style="float:left; width:30%; height:375px; background:#F2F2F2; padding:1%; overflow-y: auto">
		<div id="project_radio_container">
			<div>
				<%= f.radio_button(:project_id, "") %>
				&nbsp;선택 안함
			</div>
			<% current_user.projects.each do |project| %>
				<%= render 'projects/project_radio', project: project, f: f %>
			<% end %>
		</div>
	</div>
	<%= f.hidden_field(:post_type, value:1) %>
	<%= hidden_field_tag "finish", 0 %>
	<%#<input type="hidden" name="finish" id="finish" value="0"> %>
	<%#= f.button :submit,  id: "feeldup-submit" %>
	<%= f.button :submit, class: "hidden", id: "feeldup-submit" %>
	<% end %>

	<%= render "projects/form" %>

	<!--</form>-->
</div>
<div class="modal-footer">
		<%= link_to image_tag('feeldup_write.png'), "#", id: "feeldup-submit-link" %> 
</div/>
