<div class="posts-item">
	<span class="posts-item-writer">
		<%= image_tag(post.user.image_url) %>
		<%= link_to post.user.name, "/my_feeld?user_id=#{post.user.id}"%>
		&nbsp;
		<%= link_to "x", post, method: :delete, data: { confirm:	"Are you sure?" } %>
	</span>
	<% if post.images.size > 0 %>
    <%= link_to image_tag(post.images[0].url, class: 'posts-item-img'), post, remote:true %></td>
	<% else %>
		<%= link_to(post, remote: true) do %>
			<p class="posts-item-text">
				<%= truncate(post.content, length: 170) %>
			</p>
		<% end %>
	<% end %>
	<div class="posts-item-info">
		<span class="posts-item-title" ><%= truncate(post.title, length: 15, separater: ' ')%></span><br>
		<div class="posts-item-counts">
			<span><i class="fa fa-heart"></i> <%= post.likes.count %></span>, &nbsp;<span><i class="fa fa-comment"></i> <%= post.comments.count %></span>, &nbsp;<span><i class="fa fa-share-alt"></i> <%= post.shares.count %></span>
		</div>
		<div class="posts-item-hashtags">
			<% if post.tag_list.size > 0 %>	
				<div class='tag_list'><%= tag_icons(post.tag_list) %> </div>
			<% end %>
		</div>
	</div>
</div>
