<div class="posts-item">
	<div class="posts-item-writer">
		<% if post.user.use_photo %>
			<%= image_tag(post.user.photo) %>
		<% else %>
			<%= image_tag(post.user.image_url) %>
		<% end %>
		<%= link_to post.user.name, "/my_feeld?user_id=#{post.user.id}"%>
		&nbsp;
		<% if current_user and (current_user.id == 1 or current_user.id == post.user.id)%>
			<span style="font-size: 0.8em ">
			<%= link_to "*글 지우기", post, method: :delete, data: { confirm:	"Are you sure?" } %>
			</span>
		<% end %>
	</div>
	<% if post.post_type == 1 %>
		<% if post.images.any? %>
			<%= link_to image_tag(post.images[0].url, class: 'posts-item-img'), post, remote:true %></td>
		<% else %>
			<%= link_to image_tag(post.photos[0].image, class: 'posts-item-img'), post, remote:true %></td>
		<% end %>
	<% else %>
		<%= link_to(post, remote: true) do %>
			<div class="posts-item-text">
				<%#= truncate(post.content, length: 100) %>
				<%= post.content.html_safe%>
			</div>
		<% end %>
	<% end %>
	<div class="posts-item-info">
		<div class="posts-item-title" ><%= truncate(post.title, length: 20, separater: ' ')%></div>
		<div style="height:8px;"></div>
		<div class="posts-item-counts">
			<span><i class="fa fa-heart"></i> <%= post.likes.count %></span>, &nbsp;
			<span><i class="fa fa-comment"></i> <%= post.comments.count %></span>, &nbsp;
			<span><i class="fa fa-share-alt"></i> <%= post.shares.count %></span>
		</div>
		<div style="height:10px;"></div>
		<div class="posts-item-hashtags">
			<% if post.tag_list.size > 0 %>	
				<div class='tag_list'><%= tag_icons(post.tag_list) %> </div>
			<% end %>
		</div>
	</div>
</div>

