<div class="posts-item">
	<div class="posts-item-writer">
		<% if post.user.use_photo %>
			<%= link_to image_tag(post.user.photo), "/my_feeld?user_id=#{post.user.id}"%>
		<% else %>
			<%= link_to image_tag(post.user.image_url), "/my_feeld?user_id=#{post.user.id}" %>
		<% end %>

		<% if post.user.use_nick %>
			<%= link_to post.user.nickname, "/my_feeld?user_id=#{post.user.id}"%>
		<% else %>
			<%= link_to post.user.name, "/my_feeld?user_id=#{post.user.id}"%>
		<% end %>
		&nbsp;
		<% if current_user and (current_user.id == 1 or current_user.id == post.user.id)%>
			<span style="font-size: 0.8em ">
			<%= link_to "*글 지우기", post, method: :delete, data: { confirm:	"글이 삭제됩니다! 정말 삭제하시겠습니까?" } %>
			</span>
		<% end %>
	</div>
	<% if post.post_type == 1 %>
		<%# photoup type%>
		<% if post.photos.any? %>
			<%= link_to image_tag(post.photos[0].image.medium, class: 'posts-item-img'), post, remote:true %>
		<% end %>

	<% elsif post.post_type == 2 %>
		<%# linkup type%>
		<%= link_to(post, remote: true) do %>
			<% if post.link.image_url %>
				<%= image_tag(post.link.image_url, class: 'posts-item-img') %>
			<% else %>
				<h3>이미지를 가져올 수 없습니다;(</h3>
			<% end %>
			
		<% end %>

	<% else %>
		<%# textup type %>
		<%= link_to(post, remote: true) do %>
			<div class="posts-item-text">
				<%#= truncate(post.content, length: 100) %>
				<%= post.content.html_safe%>
			</div>
		<% end %>
	<% end %>

	<div class="posts-item-info">
		<div class="posts-item-title" >
			<%= link_to truncate(post.title, length: 20, separater: ' '), post, remote:true %>
			<% if post.is_secret %>
				<span class="text-danger">(<i class="fa fa-lock"></i>&nbsp;나만보기)</span>
			<% end %>
		</div>
		<div style="height:20px;"></div>
		<div class="posts-item-hashtags">
			<% if post.tag_list.size > 0 %>	
				<div class='tag_list'><%= tag_icons(post.tag_list) %> </div>
			<% end %>
		</div>
		<div class="posts-item-counts" >
			<div style="position:relative">
				<span><i class="fa fa-heart"></i> <%= post.likes.count %></span> &nbsp;&nbsp;&nbsp;
				<span><i class="fa fa-comment"></i> <%= post.comments.count %></span> &nbsp;&nbsp;&nbsp;
				<span><i class="fa fa-share-alt"></i> <%= post.shares.count %></span> 
				<span style="position:absolute; right:0;"><i class="fa fa-eye"></i> <%= post.view_count%></span>
			</div>
		</div>
	</div>
</div>

<script>
	$('img').bind('contextmenu', function(e){
			return false;
	}); 
</script>
