<div id="show-post-header">
	<%= @post.title %>
	<img class="modal_close" style="width:20px; height:20px;" align="right" src="/assets/xbtn.png">
	<div class='tag_list' style="font-size:0.7em; margin-top:2%;"><%= tag_icons(@post.tag_list) %> </div>
	<div style="float:right; font-size:0.6em;">
		<a href="#" id="down_btn">맨 밑으로</a>
	</div>
	<br />
	<% if @post.images.count > 0 %>
		<div style="color:gray; font-size:0.6em; float:right;">사진을 <span style="color:red">클릭</span>하면 다음 사진으로 쉽게 넘어갈 수 있습니다 <span style="color:orange">;D</span></div>
	<% end %>
</div>
<% @post.images.each_with_index do |image, idx| %>
	<%= image_tag(image.url, class: 'show-post-img', id: "show-post-img-#{idx}") %>
<% end %>
<div id="show-post-content">
	<div ><%= @post.content.html_safe %></div>
	<br>
	<% if current_user %>
		<% if Like.find_by(post_id: @post.id, user_id: current_user.id) %>
			<%= link_to image_tag('/assets/feeldrev.png'), post_likes_path(@post.id), id: "feeld" ,method: :post, remote: true %>
		<% else %>
			<%= link_to image_tag('/assets/feeld.png'), post_likes_path(@post.id), id: "feeld" ,method: :post, remote: true %>
		<% end %>
		x <strong id="feeldcnt"><%=@post.likes.count%></strong>
		&nbsp;
		<% if current_user.id != @post.user.id %>
			<%= link_to image_tag('/assets/feeldin.png'),  post_shares_path(@post.id), id: "feeldin", method: :post, remote: true %>
			x <strong id="feeldincnt"><%=@post.shares.count%></strong>
		<% else %>
			<%= link_to image_tag('/assets/edit.png'), edit_post_path(@post.id), id:"edit", remote: true %>
		<% end %>
	<% end %>
	<!-- 삭제하기 추가 필요 -->
	<div style="float:right; font-size:0.8em;">
		<a href="#" id="top_btn">맨 위로</a>
	</div>
</div>
<%= render "comments/comments" %>

<script>
	$('#top_btn').click(function(){	
		$('#modal_board').scrollTo("#show-post-header", {
			offset: -50	,
			duration: 200 ,
		})
	})

	$('#down_btn').click(function(){	
		$('#modal_board').scrollTo("#show-post-content", {
			offset: -50	,
			duration: 200 ,
		})
	})
</script>
