<%# 헤더 부분 %>
<%# 헤더 부분 %>
<div class="modal-header">
	<div id="show-post-header">
		<span class="modal-title"><%= @post.title %></span>&nbsp;
		<span style="color: darkgray; font-size:.8em; white-space: nowrap">
			by&nbsp; <%= @post.user.name %>
		</span>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
</div>
<%# 헤더 부분 %>
<%# 헤더 부분 %>

<div class="modal-body">
	<div class='tag_list' style="font-size:0.7em; margin-top:2%;"><%= tag_icons(@post.tag_list) %> </div>
	<%# 이미지 부분 %>
	<%# 이미지 부분 %>
	<div id="show-post-imgs">
	<% if @post.post_type == 1 %>
		<br>
		<a href="#" id="down_btn" style="float:right; color:darkgray">맨 밑으로</a>
		<br id="modal-body-top">
		<div style="color:darkgray; font-size:0.6em; float:right;">사진을 <span style="color:gray;">클릭</span>하면 다음 사진으로 쉽게 넘어갈 수 있습니다 <span style="color:gray">;D</span></div>

		<% if @post.images.any? %>
			<% @post.images.each_with_index do |image, idx| %>
				<%= image_tag(image.url, class: 'show-post-img', id: "show-post-img-#{idx}") %>
				<%#이미지의 아이디를 여기서 붙이면 안된다, 이후에 정렬 할 것이기 때문이다
				= image_tag(image.url, class: 'show-post-img', id: "show-post-img-#{idx}") %>
			<% end %>
		<% end %>

		<% if @post.photos.any? %>
			<% @post.photos.each_with_index do |photo, idx| %>
				<%= image_tag(photo.image, class: 'show-post-img', id: "show-post-img-#{idx}") %>
				<center><div style='font-size:1.3em; margin: 1% 3%;'><%= photo.caption %></div></center>
			<% end %>
			<hr>
			<%# 이미지 타입 글의 내용 %>
			<div div style="font-size:1.3em; margin: 3%;"><%= @post.content.gsub(/\n/, '<br/>').html_safe %></div>
		<% end %>

	<% end %>
	</div>
	<%# 이미지 부분 %>
	<%# 이미지 부분 %>

	<%# 내용 부분 %>
	<%# 내용 부분 %>
	<div id="show-post-content">

		<%# 텍스트 타입 글의 내용 %>
		<% if @post.post_type == 0 %>
			<div ><%= @post.content.html_safe %></div>
		<% end %>
		<br>

		<div style="float:right; font-size:0.8em;">
			<a href="#" id="top_btn" style="color:darkgray">맨 위로</a>
		</div>

		<br>
	</div>
	<%# 내용 부분 %>
	<%# 내용 부분 %>

	<%# 댓글 부분 %>
	<%= render "comments/comments" %>
	<%# 댓글 부분 %>

</div>
<%# modal body end %>

<script>
	$('#top_btn').click(function(){	
		$('.modal-body').scrollTo("#modal-body-top", {
			offset: -50	,
			duration: 200 ,
		})
		return false;
	})

	$('#down_btn').click(function(){	
		$('.modal-body').scrollTo("#show-post-content", {
			offset: -50	,
			duration: 200 ,
		})
		return false;
	})
</script>


<div class="modal-footer">
	<div style="float:left">
	<% if current_user %>
		<% if Like.find_by(post_id: @post.id, user_id: current_user.id) %>
			<%= link_to image_tag('/assets/feeldrev.png'), post_likes_path(@post.id), id: "feeld" ,method: :post, remote: true %>
		<% else %>
			<%= link_to image_tag('/assets/feeld.png'), post_likes_path(@post.id), id: "feeld" ,method: :post, remote: true %>
		<% end %>
		<strong><a href="#" id="feeldcnt" data-toggle="popover" data-trigger="focus"  data-placement="right" >x <%=@post.likes.count%></a></strong>
		<div id="popover-content" class="hide">
			<% if @post.likes.any? %>
			<% @post.likes.each do |like| %>
				<%= link_to like.user.name, "/my_feeld?user_id=#{like.user.id}", class: "like_user_list"%>
			<% end %>
			<% else %>
				첫 Feel'd 를 눌러주세요;D
			<% end %>
		</div>
		<script>
			$(function(){
			 // http://jsfiddle.net/raving/2thfaxeu/
				$('#feeldcnt').popover({
					html: true,
					content: function(){
						return $('#popover-content').html()	
					}
				});
				$('#feeldcnt').click(function(){
					return false;	
				})
			});
		</script>
		&nbsp;
		<% if current_user.id != @post.user.id %>
			<%= link_to image_tag('/assets/feeldin.png'),  post_shares_path(@post.id), id: "feeldin", method: :post, remote: true %>
			x <strong id="feeldincnt"><%=@post.shares.count%></strong>
		<% else %>
			<%= link_to image_tag('/assets/edit.png'), edit_post_path(@post.id), id:"edit", remote: true %>
		<% end %>
	<% end %>
	</div>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
