<div id="show-post-header">
	<%= @post.title %>
	<img class="modal_close" style="width:20px; height:20px;" align="right" src="/images/xbtn.png">
	<div class='tag_list' style="font-size:0.7em; margin-top:2%;"><%= tag_icons(@post.tag_list) %> </div>
</div>
<% @post.images.each do |image| %>
	<%= image_tag(image.url, class: 'show-post-img') %>
<% end %>
<div id="show-post-content">
	<div ><%= @post.content.html_safe %></div>
	<br>
	<% if current_user %>
		<% if Like.find_by(post_id: @post.id, user_id: current_user.id) %>
			<%= link_to image_tag('/images/feeldrev.png'), post_likes_path(@post.id), id: "feeld" ,method: :post, remote: true %>
		<% else %>
			<%= link_to image_tag('/images/feeld.png'), post_likes_path(@post.id), id: "feeld" ,method: :post, remote: true %>
			x <strong id="feeldcnt"><%=@post.likes.count%></strong>
		<% end %>
		&nbsp;
		<% if current_user.id != @post.user.id %>
			<%= link_to image_tag('/images/feeldin.png'),  post_shares_path(@post.id), id: "feeldin", method: :post, remote: true %>
			x <strong id="feeldincnt"><%=@post.shares.count%></strong>
		<% else %>
			<%= link_to "수정하기", edit_post_path(@post.id), remote: true %>
		<% end %>
	<% end %>
	<!-- 삭제하기 추가 필요 -->
</div>
<%= render "comments/comments" %>

