<!-- ###################################Column 1######################################### -->
<div class="posts-column">
	<%= render @posts.shuffle %>
<!--
	<div class="posts-item">
		<span class="posts-item-writer"><img src="/images/logo.png" >아키필드</span>
		<img class="posts-item-img" src="http://placehold.it/300x300" >
		<div class="posts-item-info">
			<span class="posts-item-title" >2015 홍익대학교 졸업전시회 모형 총정리</span><br>
			<div class="posts-item-counts">
				<span>좋아요 134</span>, <span>댓글 20</span>, <span>공유 12</span>
			</div>
			<div class="posts-item-hashtags"><span>#홍익대</span> <span>#모형</span></div>
		</div>
	</div>
-->
</div>
<!-- ###################################Column 2######################################### -->
<div class="posts-column">
	<%= render @posts.shuffle %>
</div>
<!-- ###################################Column 3######################################### -->
<div class="posts-column">
	<%= render @posts.shuffle %>
</div>
<!-- ###################################Column 4######################################### -->
<div class="posts-column">
	<%= render @posts.shuffle %>
</div>
<!-- ###################################Column 5######################################### -->
<div class="posts-column">
	<%= render @posts.shuffle %>
</div>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'new post' , new_post_path %>
