<%= render 'contents_controllbar'%>

<div class="container">

	<% if not browser.device.mobile? and request.original_fullpath == "/posts" %>
	<div id="reco-container">
		<div id="reco-users">
			<% @fav_users.shuffle[0,6].each do |user| %>
					<div class="reco-user">
						<% if user.use_photo %>
							<%= link_to image_tag(user.photo, class:"img-circle"), "/my_feeld?user_id=#{user.id}" %> 
						<% else %>
							<%= link_to image_tag(user.image_url, class:"img-circle"), "/my_feeld?user_id=#{user.id}" %> 
						<% end %> 
						<% if user.use_nick %>
							<%= link_to truncate(user.nickname, length:15), "/my_feeld?user_id=#{user.id}"%><br>
						<% else %>
							<%= link_to truncate(user.name, length:15), "/my_feeld?user_id=#{user.id}"%><br>
						<% end %>
						<%#= link_to image_tag('plusbtn.png', class: "reco_myfeeld_plustbtn"), friendships_path(:friend_id => user.id), :method => :post, data: { confirm: "팔로우 합니다" } %>
					</div>
			<% end %>
		</div>
		<div id="reco-binders">
			<h4>HIT 바인더</h4>
					<%= link_to "유저검색", '/user_search', remote: true %>
		</div>
		<div id="reco-posts">
			<h4>HIT 필디</h4>
			<% @fav_posts[0,5].each do |post| %>
				<div class="reco-posts-item">
					<% if post.user.use_photo %>
						<%= link_to image_tag(post.user.photo, class:"img-circle"), "/my_feeld?user_id=#{post.user.id}" %> 
					<% else %>
						<%= link_to image_tag(post.user.image_url, class:"img-circle"), "/my_feeld?user_id=#{post.user.id}" %> 
					<% end %> 
					
					<div class="sub-title-company">
						<% if post.title.size > 0 %>
							<%= link_to truncate(post.title, length:22, separater: ' '), post, class: 'fav-posts' %></br>
						<% else %>
							<%#= link_to truncate("제목 없음", length:22, separater: ' '), post, class: 'fav-posts' %></br>
						<% end %>
						<span class="sub-company"><%= post.user.company %></span>
					</div>
				</div>
			<% end %>

		</div>
	</div>
	<% end %>

	<div id="posts-container">
		<%= render @posts %>
	</div>
</div>

<style>
	#posts_adder{
		color:black; 
		font-size:3.5em; 
		font-weight: bold;
	}
	#posts_adder_container{
		margin-bottom: 2%; 	
		clear:both;
		border-radius: 5px;
		background: rgba(50,50,50,0.1);
		width: 90px;
	}
	#posts_adder_container:hover{
		background: #CBFD34; 
	}
</style>


<center>
	<%= link_to request.original_url, remote: true, id: "posts_adder" do%>
		<div id="posts_adder_container">
			+
		</div>
	<% end %>
</center>

<script >
	// 페이지 새로 고침시 스크롤 초기화
	window.onbeforeunload = function(){ window.scrollTo(0,0); }

	// 글의 마지막에 도달해도 계속 증가하지만 상관없지않나?
	var page = 1;
	var ori_url = "";
	$(function(){
		// 익스에서 여러 자바스크립트 못합쳐서 따로 써놓을게
		//tag_truncate()
		var result = ""
		$('.tag_list').each(function(){	
			tmp_arr = $(this).html().split(",").slice(0, 3);
			result = tmp_arr.join();
			//	result += " <strong> ...+</strong> "
			if ($(this).html().split(",").length > 3)
				$(this).html(result + '&nbsp; <i class="fa fa-ellipsis-h"></i>');
		})
		// tag_truncate end

		ori_url = $('#posts_adder').attr('href')

		$('#posts_adder').click(function(){
			$('body').LoadingOverlay("show")
			if (ori_url.indexOf("?") == -1)
				$('#posts_adder').attr('href', ori_url + "?page=" + page)
			else
				$('#posts_adder').attr('href', ori_url + "&page=" + page)
			page ++;
		})

		/*	
		$(window).scroll(function() {
			if ($(window).scrollTop() == $(document).height() - $(window).height()) {
				alert('창 끝 도달시, 글 로드 기능 개발중');
				//$('a#posts_adder').click()
			}
		});
		*/
		
	});
</script>
