<%= render 'contents_controllbar'%>

<%#= link_to "유저검색", '/user_search', remote: true %>

<div class="container">

	<% if not browser.device.mobile? and (request.original_fullpath == "/posts" or request.original_fullpath == "/") %>
	<!-- 메인페이지 추천 영역 -->
	<!-- 메인페이지 추천 영역 -->
	<div id="reco-container">
		<div id="reco-users">
			<% @fav_users.shuffle[0,6].each do |user| %>
					<div class="reco-user">
						<% if user.use_photo %>
							<%= link_to image_tag(user.photo, class:"img-circle"), "/my_feeld?user_id=#{user.id}" %> 
						<% else %>
							<%= link_to image_tag(user.image_url, class:"img-circle"), "/my_feeld?user_id=#{user.id}" %> 
						<% end %> 
						<% if user.use_nick %>
							<%= link_to truncate(user.nickname, length:15), "/my_feeld?user_id=#{user.id}"%><br>
						<% else %>
							<%= link_to truncate(user.name, length:15), "/my_feeld?user_id=#{user.id}"%><br>
						<% end %>
						<%#= link_to image_tag('plusbtn.png', class: "reco_myfeeld_plustbtn"), friendships_path(:friend_id => user.id), :method => :post, data: { confirm: "팔로우 합니다" } %>
					</div>
			<% end %>
		</div>
		<div id="reco-binders">
		<!--31행 margin-top 25px 에서 15px로 변경(16-10-31 동윤)-->
			<h5><b>HIT 바인더</b></h5>
			<div style="margin-top:15px;"></div>
			<div>
				<% @fav_projects.shuffle[0..4].each do |p| %>
					<%= link_to p do %>
						<%= image_tag(p.photo, class:"reco-binder") %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div id="reco-posts">
			<h5><b>HIT 필디</b></h5>
			<% @fav_posts[0,5].each do |post| %>
				<div class="reco-posts-item">
					<% if post.user.use_photo %>
						<%= link_to image_tag(post.user.photo, class:"img-circle"), "/my_feeld?user_id=#{post.user.id}" %> 
					<% else %>
						<%= link_to image_tag(post.user.image_url, class:"img-circle"), "/my_feeld?user_id=#{post.user.id}" %> 
					<% end %> 
					
					<div class="sub-title-company">
						<% if post.title.size > 0 %>
							<%= link_to truncate(post.title, length:45, separater: ' '), post, class: 'fav-posts' %></br>
						<% else %>
							<%#= link_to truncate("제목 없음", length:22, separater: ' '), post, class: 'fav-posts' %></br>
						<% end %>
						<span class="sub-company"><%= post.user.company %></span>
					</div>
				</div>
			<% end %>

		</div>
	</div>
	<!-- 메인페이지 추천 영역 -->
	<!-- 메인페이지 추천 영역 -->
	<% end %>

	<div id="infinite-scrolling" style="display:none">
		<%= will_paginate @posts %>
	</div>

	<div id="posts-container">
		<%= render @posts %>
	</div>
</div>


<center>
	<div id="posts-loading" style="display:none">
		<%= image_tag("loading.gif") %>
	</div>
</center>


<script >
	// 페이지 새로 고침시 스크롤 초기화
	window.onbeforeunload = function(){ window.scrollTo(0,0); }

	var canAddExtra = true
	$(function(){
		if ($('#infinite-scrolling').size() > 0){
			$(window).on("scroll", function(){
				more_posts_url = $('.pagination a.next_page').attr('href') 
				if (canAddExtra && more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60){
					canAddExtra = false;
					$('#posts-loading').show()
					$.getScript(more_posts_url,function(data, textStatus, jqxhr){
						//console.log(data)
						canAddExtra = true
					})  
				}
			})
		}
	})
</script>
