<script>
	$(function(){
		$('#user_info_panel').hide().slideDown()	
	})
</script>

<div id="user_info_panel">
	<%# http://stackoverflow.com/questions/2821061/facebook-api-how-do-i-get-a-facebook-users-profile-image-through-the-facebook %>
	<%= image_tag("//graph.facebook.com/#{@user.uid}/picture?type=large&width=130&height=130") %>

	<div id="user_info_name_dept">
		<span style="font-weight: bold; font-size: 2em;">
			<%= @user.name %>
		</span>
		<span style="color:gray; font-size: 1.2em; white-space: nowrap">
			<%= "@ 아키필드" %>
			<% if @user.id == 7 %>
				<strong style="color:red">똥쟁이</strong>
			<% elsif @user.id == 6 %>
				<strong style="color:aqua"> 초밥왕지원짱</strong>
			<% elsif @user.id == 1 %>
				<strong style="color:green"> 오하시송</strong>
			<% end %>
		</span><br>
		<% if current_user %>
			<% if @user.id == current_user.id %>
				<a style="color:#B1DB4E; font-size: 1.5em; font-weight:bold" href="#">프로필 편집</a><br>
			<% else %>
				<% if @user.inverse_friends.include? current_user %>
					<%= link_to "팔로우 끊기", friendship_path(Friendship.find_by(user_id: current_user.id, friend_id: @user.id)), :method => :delete%>
				<% else %>
					<%= link_to "팔로우 하기", friendships_path(friend_id: @user.id), :method => :post %>
				<% end %>
			<% end %>
		<% end %>
	</div>

	<div id="user_info_counts">
		<span style="color:gray; font-size: 1.2em; margin-right:15%;">
			게시글
		</span>
		<span style="font-size: 2em; font-weight:bold">
			<%= @user.posts.count %>	
		</span><br>

		<span style="color:gray;  font-size: 1.2em; margin-right:15%;">
			팔로우	
		</span>
		<span style="font-size: 2em; font-weight:bold">
			<%= link_to @user.friendships.count, "/friendships/#{@user.id}/follow", remote: true %>
		</span><br>

		<span style="color:gray; font-size: 1.2em; margin-right:15%;">
			팔로워
		</span>
		<span style="font-size: 2em; font-weight:bold">
			<%= link_to @user.inverse_friends.count, "/friendships/#{@user.id}/follower", remote: true %>
		</span><br>
	</div>
</div>
<% if current_user and current_user.id == @user.id %>
<div id="my_feeld_menu">
	<div id="archive">필드 아카이브</div>	
	<div id="archive_hover">
		<div id="archive_mine">내 것만 보기</div>	
		<div id="archive_share">필드인 목록</div>	
	</div>	
	<div id="project_list">프로젝트 관리</div>	
</div>
<% end %>
<%= render @posts %>

