<% if not browser.device.mobile? %>
	<%= render 'contents_controllbar'%>
<% end %>

<div class="container">
	<div id="user_info_panel">
		<%# http://stackoverflow.com/questions/2821061/facebook-api-how-do-i-get-a-facebook-users-profile-image-through-the-facebook %>
		<% if !@user.use_photo %>
			<%#= link_to image_tag("//graph.facebook.com/#{@user.uid}/picture?type=large&width=130&height=130", id: "message_box"), "/message_box/#{@user.id}", remote: true %>
			<%= image_tag("//graph.facebook.com/#{@user.uid}/picture?type=large&width=130&height=130", class:"img-circle") %>
		<% else %>
			<%#= link_to image_tag(@user.photo, class: "my_feeld_profile_img", id: "message_box"), "/message_box/#{@user.id}", remote: true %>
			<%= image_tag(@user.photo, class: "my_feeld_profile_img img-circle", id: "message_box")%>
		<% end %>

		<div id="user_info_name_dept">
			<span style="font-size: 1.8em;">
				<%if @user.use_nick %>
					<%= @user.nickname%>
				<% else %>
					<%= @user.name %>
				<% end %>
			</span>
			<br>
			<span style="white-space: nowrap">
				<%= @user.company %>
			</span><br>
			<% if current_user %>
				<% if @user.id == current_user.id %>
					<a style="" href="users/<%=@user.id%>/edit">정보수정</a><br>
				<% else %>
					<% if @user.inverse_friends.include? current_user %>
						<%= link_to "팔로우 끊기", friendship_path(Friendship.find_by(user_id: current_user.id, friend_id: @user.id)), :method => :delete, class: "follow-link"%>
					<% else %>
						<%= link_to "팔로우 하기", friendships_path(friend_id: @user.id), :method => :post, class: "follow-link" %>
					<% end %>
				<% end %>
			<% end %>
			<!-- 분야 -->
			<!-- 분야 -->
			<div class="tag_div" style="margin:4px 2px;"><a href="#" class='tag' style="background:transparent; color:gray;">건축학</a></div>
			<!-- 분야 -->
			<!-- 분야 -->
		</div>

		<div id="user_info_counts">
			<table>
				<tr>
					<td>게시글</td>
					<td>팔로워</td>
					<td>팔로우</td>
				</tr>
				<tr style="font-weight:bold; font-size:1.8em;">
					<td><%= @user.posts.count %></td>
					<td><%= link_to @user.inverse_friends.count, "/friendships/#{@user.id}/follower", remote: true %></td>
					<td><%= link_to @user.friendships.count, "/friendships/#{@user.id}/follow", remote: true %></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="font-weight:bold;">스킬</td>
				</tr>
				<tr>
					<td colspan="3" style="padding-left: 15px;">
						<div style="width: 210px">
							<% @fav_tags[0..6].shuffle.each do |tag| %>
								<div class="tag_div" style="margin:4px 2px;"><a href='/posts?tag=<%= tag %>' class='tag' style="background:transparent; color:gray;"><%= tag %></a></div>
							<% end %>
						</div>	
					</td>
				</tr>
			</table>
		</div>

	</div>

	<div id="my_feeld_menu">
		<% if current_user and current_user.id == @user.id %>
			<%= link_to raw('<div class="my_feeld_menu_item">바인더()</div>'), "/project_management", remote: true %>
			<%= link_to raw('<div class="my_feeld_menu_item">아카이브()</div>'), "/archive_mine", remote: true %>
			<%= link_to raw('<div class="my_feeld_menu_item">콜렉션()</div>'), "/archive_share", remote: true %>
			<%= link_to raw('<span style="white-space:nowrap">+ 바인더</span>'), "/projects/new", id:"add_binder", class:"my_feeld_menu_item_right" %>
		<% else %>
			<%= link_to raw('<div class="my_feeld_menu_item">바인더()</div>'), "/project_management?user_id=#{@user.id}", remote: true %>
			<%= link_to raw('<div class="my_feeld_menu_item">아카이브()</div>'), "/archive_mine?user_id=#{@user.id}", remote: true %>
			<%= link_to raw('<div class="my_feeld_menu_item">콜렉션()</div>'), "/archive_share?user_id=#{@user.id}", remote: true %>
		<% end %>
	</div>

	<div id="projects-container-wrapper">
		<div id="projects-container" style="width:<%=(@projects.length + 4) * (300+ 5 + 5) %>px">
			<%= render @projects %>			
			<%= render "projects/project_empty" %>
			<%= render "projects/project_empty" %>
			<%= render "projects/project_empty" %>
			<%= render "projects/project_empty" %>
		</div>
		<!-- pc에서만 보여주기 -->
		<!-- pc에서만 보여주기 -->
		<div href="" id="left-arrow">&lt;</div>
		<div href="" id="right-arrow">&gt;</div>
		<!-- pc에서만 보여주기 -->
		<!-- pc에서만 보여주기 -->
	</div>

	<div style="clear:both"></div>

	<div id="infinite-scrolling" style="display:none">
		<%= will_paginate @posts %>
	</div>

	<div id="posts-container">
		<%= render @posts %>
	</div>
</div>

<center>
	<div id="posts-loading" style="display:none">
		<%= image_tag("loading.gif") %>
	</div>
</center>

<script >
	// 페이지 새로 고침시 스크롤 초기화
	window.onbeforeunload = function(){ window.scrollTo(0,0); }

	var canAddExtra = true
	$(function(){
	 if ($('#infinite-scrolling').size() > 0){
		 $(window).on("scroll", function(){
			 more_posts_url = $('.pagination a.next_page').attr('href') 
			 if (canAddExtra && more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60){
				 canAddExtra = false;
				 $('#posts-loading').show()
				 $.getScript(more_posts_url,function(data, textStatus, jqxhr){
					 console.log(data)
					 canAddExtra = true
				 })  
			 }
		 })
	 }
	})
</script>

<script >
	//	tag_truncate()
	var result = ""
	$('.tag_list').each(function(){	
		tmp_arr = $(this).html().split(",").slice(0, 3);
		result = tmp_arr.join();
		//	result += " <strong> ...+</strong> "
		if ($(this).html().split(",").length > 3)
			$(this).html(result + '&nbsp; <i class="fa fa-ellipsis-h"></i>');
	})
	//	tag_truncate()

	
	// left-arrow, right-arrow
	// left-arrow, right-arrow
	var arrowMaxCount= <%=@projects.length%> - 1;
	var arrowCount = 0;
	$('#right-arrow').click(function(){
		if (arrowCount >= arrowMaxCount ) return;
		curr = parseInt($('#projects-container').css('left'))
		console.log(curr)
		//$('#projects-container').css('left', curr - (300+ 5 + 5))
		$('#projects-container').animate({left: curr - 310 }, 300)
		arrowCount += 1;
	})
	$('#left-arrow').click(function(){
		if (arrowCount <= 0) return;
		curr = parseInt($('#projects-container').css('left'))
		console.log(curr)
		//$('#projects-container').css('left', curr + (300+ 5 + 5))
		$('#projects-container').animate({left: curr + 310 }, 300)
		arrowCount -= 1;
	})
	// left-arrow, right-arrow
	// left-arrow, right-arrow
</script>
