<%# if not browser.device.mobile? %>
	<%= render 'contents_controllbar'%>
<%# end %>

<div class="container"> 
	<!-- 요소들의 절대 위치를 원활히 지정하기 위해선 부모가 relative여야만 하는것 같다 -->
	<!-- show-super-container -->
	<!-- show-super-container -->
	<!-- show-super-container -->
	<div id="show-super-container" >
		<!-- 타임라인 엘리먼트의 width가 뒤로 전파되는 문제를 container로 고립시킴으로써 해결했다 -->
		<!-- show-container & container fluid-->
		<!-- show-container & container fluid-->
		<!-- show-container & container fluid-->
		<div id="show-container" class="container-fluid">
			<!-- show-pots-item -->
			<!-- show-pots-item -->
			<!-- show-pots-item -->
			<div class="show-posts-item">

				<div style="height:10px">
					<!-- placeholder -->
				</div>

				<%# 링크 타입 %>
				<%# 링크 타입 %>
				<%# 링크 타입 %>
				<% if @post.post_type == 2 %>
					<%# linkup type%>
					<div class="posts-item-text">
					<h5 class="text-success"><%= @post.link.link_title %></h5>
					<% if @post.link and @post.link.image_url %>
						<%= link_to image_tag(@post.link.image_url, class: 'show-post-img'),@post.link.link_url, target:"_blank"  %>
						출처: <a  target="_blank" style="font-size:0.8em;" href="<%=@post.link.link_url%>"><%= @post.link.link_url %></a>
					<% else %>
						<h3>이미지를 가져올 수 없습니다;(</h3>
					<% end %>
					</div>
				<% end %>

				<%# 이미지가 있으면 %>
				<%# 이미지가 있으면 %>
				<% if @post.photos.count > 0%>
					<% if @post.photos.any? %>
						<% @post.photos.each_with_index do |photo, idx| %>
							<a href="<%=image_url(photo.image)%>" data-lightbox="showpostimg" data-title="<%=photo.caption%>"><%= image_tag(photo.image, class: 'posts-item-img') %></a></td>
							<center><div style='font-size:1.1em;margin: 1% 3%;'><%= photo.caption %></div></center>
						<% end %>
					<% end %>

				<%# 이미지 없으면 %>
				<%# 이미지 없으면 %>
				<% else  %>
					<div class="posts-item-text">
						<%#= truncate(@post.content, length: 100) %>
						<%#= @post.content.gsub(/\n/, '<br/>').html_safe%>
						<%= auto_link(@post.content.gsub(/\n/, '<br/>'), :html => { :target => '_blank' })%>
					</div>
				<% end %>


				<!-- mobile -->
				<!-- mobile -->
				<% if browser.device.mobile? %>
					<!-- posts-item-info -->
					<!-- posts-item-info -->
					<!-- posts-item-info -->
					<div class="posts-item-info">
						<!-- posts-item-counts -->
						<!-- posts-item-counts -->
						<!-- posts-item-counts -->
						<div class="posts-item-counts" >
							<%# ======================================================================  %>
							<% if current_user %>
								<% if Like.find_by(post_id: @post.id, user_id: current_user.id) %>
									<%= link_to image_tag('feeldrev.png'), post_likes_path(@post.id), class: "feeld feeld#{@post.id}" ,method: :post, remote: true %>
								<% else %>
									<%= link_to image_tag('feeld.png'), post_likes_path(@post.id), class: "feeld feeld#{@post.id}" ,method: :post, remote: true %>
								<% end %>
								<strong><a href="#" class="feeldcnt feeldcnt<%=@post.id%>" data-toggle="popover" data-trigger="focus"  data-placement="right" >x <%=@post.likes.count%></a></strong>
								<div id="popover-content" class="hide">
									<% if @post.likes.any? %>
									<% @post.likes.each do |like| %>
										<% if like.user.use_nick %>
											<%= link_to like.user.nickname, "/my_feeld?user_id=#{like.user.id}", class: "like_user_list"%>
										<% else %>
											<%= link_to like.user.name, "/my_feeld?user_id=#{like.user.id}", class: "like_user_list"%>
										<% end %>
									<% end %>
									<% else %>
										첫 Feel'd 를 눌러주세요;D
									<% end %>
								</div>
								<script>
									$(function(){
									 // http://jsfiddle.net/raving/2thfaxeu/
										$('.feeldcnt').popover({
											html: true,
											content: function(){
												return $('#popover-content').html()	
											}
										});
										$('.feeldcnt').click(function(){
											return false;	
										})
									});
								</script>
								&nbsp;
								<% if current_user.id != @post.user.id %>
									<%= link_to image_tag('feeldin.png'),  post_shares_path(@post.id), class: "feeldin feeldin#{@post.id}", method: :post, remote: true %>
									x <strong class="feeldincnt feeldincnt<%=@post.id%>"><%=@post.shares.count%></strong>
								<% else %>
									<% if @post.post_type == 2 %>
										<%= link_to image_tag('edit.png'), "", id:"edit" %>
										<script>
											$('#edit').click(function(){alert('링크타입의 글 수정기능은 준비중입니다')})
										</script>
									<% else %>
										<%= link_to image_tag('edit.png'), edit_post_path(@post.id), id:"edit" %>
									<% end %>
								<% end %>

								<%# 관리자 아이디라면 에딧 허용%>
								<% if manager_list.include? current_user.id %>
										<%= link_to image_tag('edit.png'), edit_post_path(@post.id), id:"edit" %>
								<% end %>
							<% end %>

							<span style="position:absolute; right:0;"><%=image_tag "eye.png", class: "post-icon"%> <%= @post.view_count%></span>

							
							<hr style="margin: 15px 0">

							<div class="posts-item-writer">
								<% if @post.user.use_photo %>
									<%= image_tag(@post.user.photo) %>
								<% else %>
									<%= image_tag(@post.user.image_url) %>
								<% end %>

								<% if @post.user.use_nick %>
									<%= link_to @post.user.nickname, "/my_feeld?user_id=#{@post.user.id}"%>
								<% else %>
									<%= link_to @post.user.name, "/my_feeld?user_id=#{@post.user.id}"%>
								<% end %>
							</div>

							<div class="posts-item-title" >
								<%= @post.title %>
								<% if @post.is_secret %>
									<span class="text-danger">(<i class="fa fa-lock"></i>&nbsp;비공개)</span>
								<% end %>
								<span style="color:darkgray; font-size:.7em; white-space:nowrap">
									 &nbsp; <%= @post.created_at.strftime("%Y년 %m월 %d일") %>
								</span>
							</div>

							<div style="height:10px;"></div>

							<%# 글 내용 부분 %>
							<% if @post.post_type == 1 or @post.post_type == 2%>
								<div class="posts-item-image-content">
									<%#= @post.content.gsub(/\n/, '<br/>').html_safe%>
									<%= auto_link(@post.content.gsub(/\n/, '<br/>'), :html => { :target => '_blank' })%>
								</div>
							<% end %>
							<div class="posts-item-hashtags">
								<% if @post.tag_list.size > 0 %>	
									<div class='tag_list'><%= tag_icons(@post.tag_list) %> </div>
								<% end %>
							</div>

							<hr style="margin: 20px 0">

							<%= render "comments/comments" %>
							&nbsp;
						</div>
						<!-- posts-item-counts -->
						<!-- posts-item-counts -->
						<!-- posts-item-counts -->
					</div>
					<!-- posts-item-info -->
					<!-- posts-item-info -->
					<!-- posts-item-info -->
				<% end %>
				<!-- mobile -->
				<!-- mobile -->
			</div>
			<!-- show-pots-item -->
			<!-- show-pots-item -->
			<!-- show-pots-item -->

			<div id="content-end" style="position:absolute"></div>


		</div>
		<!-- show-container & container fluid-->
		<!-- show-container & container fluid-->
		<!-- show-container & container fluid-->

		<!-- show-controller -->
		<!-- show-controller -->
		<!-- show-controller -->
		<% if not browser.device.mobile? %>
			<div id="show-controller" style="display:none">
				<div id="sc-writer-info">
					<div style="float:left; margin-right:5px;">
						<% if @post.user.use_photo %>
							<%= link_to image_tag(@post.user.photo, class:"img-circle"), "/my_feeld?user_id=#{@post.user.id}"%>
						<% else %>
							<%= link_to image_tag(@post.user.image_url, class:"img-circle"), "/my_feeld?user_id=#{@post.user.id}" %>
						<% end %>
					</div>
					<div style="float:left">
						<% if @post.user.use_nick %>
							<%= link_to @post.user.nickname, "/my_feeld?user_id=#{@post.user.id}"%>
						<% else %>
							<%= link_to @post.user.name, "/my_feeld?user_id=#{@post.user.id}"%>
						<% end %>
						<br>
						<span class="company">@<%= @post.user.company %></span>
					</div>
				</div>
				<div style="clear:both"></div>
				
				<div style="height: 10px;"></div>

				<h4><%= @post.title %></h4>

				<div style="height: 5px;"></div>

				<%# 만약에 사진이 있고, 컨텐츠가 있다면 보여준다 %>	
				<%# 그런데 텍스트만 있으면 어차피 왼쪽에 보여지기 때문에 숨긴다 %>	
				<% if @post.photos.count > 0 %>
					<p style="font-size:0.8em;"><%= auto_link(@post.content.gsub(/\n/, '<br/>'), :html => { :target => '_blank' })%></p>
				<% end %>

				<!-- sc-posts-counts -->
				<!-- sc-posts-counts -->
				<div class="sc-posts-counts">
					<% if current_user %>
						<% if Like.find_by(post_id: @post.id, user_id: current_user.id) %>
							<%= link_to image_tag('feeldrev.png'), post_likes_path(@post.id), class: "feeld feeld#{@post.id}" ,method: :post, remote: true %>
						<% else %>
							<%= link_to image_tag('feeld.png'), post_likes_path(@post.id), class: "feeld feeld#{@post.id}" ,method: :post, remote: true %>
						<% end %>
						<strong><a href="#" class="feeldcnt feeldcnt<%=@post.id%>" data-toggle="popover" data-trigger="focus"  data-placement="right" >x <%=@post.likes.count%></a></strong>
						<div id="popover-content" class="hide">
							<% if @post.likes.any? %>
							<% @post.likes.each do |like| %>
								<% if like.user.use_nick %>
									<%= link_to like.user.nickname, "/my_feeld?user_id=#{like.user.id}", class: "like_user_list"%>
								<% else %>
									<%= link_to like.user.name, "/my_feeld?user_id=#{like.user.id}", class: "like_user_list"%>
								<% end %>
							<% end %>
							<% else %>
								첫 Feel'd 를 눌러주세요;D
							<% end %>
						</div>
						<script>
							$(function(){
							 // http://jsfiddle.net/raving/2thfaxeu/
								$('.feeldcnt').popover({
									html: true,
									content: function(){
										return $('#popover-content').html()	
									}
								});
								$('.feeldcnt').click(function(){
									return false;	
								})
							});
						</script>
						&nbsp;
						<% if current_user.id != @post.user.id %>
							<%= link_to image_tag('feeldin.png'),  post_shares_path(@post.id), class: "feeldin feeldin#{@post.id}", method: :post, remote: true %>
							x <strong class="feeldincnt feeldincnt<%=@post.id%>"><%=@post.shares.count%></strong>
						<% else %>
							<% if @post.post_type == 2 %>
								<%= link_to image_tag('edit.png'), "", id:"edit" %>
								<script>
									$('#edit').click(function(){alert('링크타입의 글 수정기능은 준비중입니다')})
								</script>
							<% else %>
								<%= link_to image_tag('edit.png'), edit_post_path(@post.id), id:"edit" %>
							<% end %>
						<% end %>

						<%# 관리자 아이디라면 에딧 허용%>
						<% if manager_list.include? current_user.id %>
								<%= link_to image_tag('edit.png'), edit_post_path(@post.id), id:"edit" %>
						<% end %>
					<% end %>

				</div>
				<!-- sc-posts-counts -->
				<!-- sc-posts-counts -->
				<hr>
				<%= render "comments/comments" %>
			</div>
		<% end %>

		<!-- show-controller 위치 업데이트 스크립트 -->
		<!-- show-controller 위치 업데이트 스크립트 -->
		<script>
			
			$(function(){
				// 바로 호출하면 이전에 content container사이즈를 조정하는 시간? 
				// 때문에 left margin값이 -가 나와서 오류가있었다
				// 일단 임시 처방으로 5ms의 딜레이를 주었다
				//setTimeout(updatePositionShowController, 10);

				$( window ).resize(function() {
					updatePositionShowController();
				})

				// 컨트롤러에 스크롤
				$('#show-controller').perfectScrollbar();

				// 이미지가 다 로드된 이후에 추천 포스트를 넣어야함
				// 이미지가 다 로드된 이후에 추천 포스트를 넣어야함
				<% if @post.photos.any? %>
					<%# 근데 사실, 링크 타입에 대해서는 아직 대응이 안될 수도%>
					$('#show-container').imagesLoaded(function(){
						updatePositionShowController()

						// 이미지가 다 로드되고 높이가 정해졌을 때,
						// 관련 필드업을 추가해 준다.
						if ($('#show-container').height() > $('#show-controller').height()){
							$('#related-posts').show()
										.css('margin-top', parseInt($('#show-container').css('height')) + 50);
										//.css('margin-top', parseInt($('#content-end').css('top')) + 50);
						}
						else {
							// content-end 위치 강제 변경
							$('#content-end').css('top', $('#show-controller').height() ) // controller의 height가 550
							$('#related-posts').show()
										.css('margin-top', parseInt($('#show-controller').css('height')) + 50);
										//.css('margin-top', parseInt($('#content-end').css('top')) + 50);
						}
					})
					//alert($('#show-container').css('height'))
				<% else %>
				<%# if문 내용 그대로 복사하되, 이미지가 없으므로 이미지 로트 이벤트만 제외 %>
					updatePositionShowController()

					// 이미지가 다 로드되고 높이가 정해졌을 때,
					// 관련 필드업을 추가해 준다.
					if ($('#show-container').height() > $('#show-controller').height()){
						$('#related-posts').show()
									.css('margin-top', parseInt($('#show-container').css('height')) + 50);
									//.css('margin-top', parseInt($('#content-end').css('top')) + 50);
					}
					else {
						// content-end 위치 강제 변경
						$('#content-end').css('top', $('#show-controller').height() ) // controller의 height가 550
						$('#related-posts').show()
									.css('margin-top', parseInt($('#show-controller').css('height')) + 50);
									//.css('margin-top', parseInt($('#content-end').css('top')) + 50);
					}
					//alert($('#show-container').css('height'))
				<% end %>
			
			})


			function updatePositionShowController(){
				var left_offset = parseFloat($('#show-container').offset()["left"])
				var width = parseFloat($("#show-container").css('width'))
				var extra_offset = 15 // show-container 와 show-controller사이의 10px정도의 오프셋 
				$("#show-controller").css("left", left_offset + width + extra_offset).fadeIn()
			}

			// cf) contents controllbar에도 이 변수가 있어서 _2추가함
			// cf) contents controllbar에도 이 변수가 있어서 _2추가함
			var previousScroll2 = 0;
			var changedByDown= false;
			var changedByUp= false;
			var changeOffset = 25;
			$(window).scroll(function(){
				 var currentScroll2 = $(this).scrollTop();

				 // 가끔 컨트롤러의 top이 밑으로 쳐지는 현상 해결
				 // 관찰해보니 마진값이 10이던게 변화함 perfect scroller과의 충돌
				 if (currentScroll2 == 0){
				 	$('#show-controller').css('margin-top', 10)
				 }

				 if (currentScroll2 > previousScroll2){
					 // down flow
						if (!changedByDown){
							ori = parseInt($('#show-controller').css('margin-top'), 10	)
							$('#show-controller').css('margin-top', ori - changeOffset)	
							changedByUp = false;
							changedByDown = true;
						}
				 } else {
						if (!changedByUp){
							ori = parseInt($('#show-controller').css('margin-top'), 10	)
							$('#show-controller').css('margin-top', ori + changeOffset)	
							changedByUp = true;
							changedByDown = false;
						}
				 }
				 previousScroll2 = currentScroll2;

				// + 추가 기능
				// 오른쪽 메뉴 사라지게 하기
				// diff? content-end라고 show-container끝나는 부분에 표시해논게 있음
				// 그거 위치에서 controller 높이를 뺀 것을 의미
				// 즉 
				//diff = parseInt($('#content-end').css('top')) - parseInt($('#show-controller').css('height'))
				diff = parseInt($('#show-container').css('height')) - parseInt($('#show-controller').css('height'))

				//console.log("content-end : " + $('#content-end').css('top'))
				//console.log("show-controller height : " + $('#show-controller').css('height'))
				//console.log("scroll : " + $(this).scrollTop())

				if (diff + 50 < parseInt($(this).scrollTop())){
					$('#show-controller').hide();	
				}
				else {
					$('#show-controller').show();	
				}

			});

		</script>
		<!-- show-controller -->
		<!-- show-controller -->
		

	</div>
	<!-- show-super-container -->
	<!-- show-super-container -->
	<!-- show-super-container -->

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77436255-1', 'auto');
		ga('send', 'pageview');
	</script>


	<!-- 다음글 추천 -->
	<div id="related-posts">
	<% if @isReco %>
		<center><h3 style="color:darkgray">관련 필드업</h2></center>
		<%= render @posts %>
	<% else %>
		<center><h3 style="color:darkgray" >최신 필드업</h2></center>
		<%= render @posts %>
	<% end %>
	</div>
	<!-- 다음글 추천 -->

</div>
