<style>
	/* search box drop down */
	#holder-search{
		position: relative;
	}
	#dropdown-search{
		position: absolute;
		top: 40px;
		border-radius: 3px;
		box-shadow: 5px 5px 5px #333333;
		background: white;
		display: none;
		z-index: 2000;
	}
</style>

<nav class="navbar navbar-default navbar-fixed-top" style="padding: 2px", "background-color: white"> 
<div class="container">
	<!-- navbar header -->
	<!-- navbar header -->
	<div class="navbar-header" >
		<%= link_to image_tag('logobeta.png', id: "brand-image"), posts_path , class: "navbar-brand", id: 'navbar-brand-link'%>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- navbar header -->
	<!-- navbar header -->

	<!-- collapase -->
	<!-- collapase -->
	<!-- collapase -->
	<div class="collapse navbar-collapse" id="nav-collapse">	

		<!-- navbar-right -->
		<!-- navbar-right -->
		<!-- navbar-right -->
		<%# 리스트 간의 간격을 조정하기 위해 li밑에 a엘리먼트에 padding-right 및 padding에 대한 스타일을 inline으로 추가함%>
		<%# 리스트 간의 간격을 조정하기 위해 li밑에 a엘리먼트에 padding-right 및 padding에 대한 스타일을 inline으로 추가함%>
		<ul class="nav navbar-nav navbar-right" >
			<!-- 로그인상태일 때 -->
			<% if current_user %>
				<li>
					<a href="#" id="search">
						<span><i class='fa fa-search' aria-hidden='true'></i></span>
					</a>
				</li>
				<li>
					<!-- msg icon -->
					<%= link_to raw("<span><i class='fa fa-bell-o' aria-hidden='true'></i></span>"), events_path, remote: true, id: 'msg_btn' %>
					<!-- msg icon -->
					<!-- 삭삭제예정삭제예정삭제예정삭제예정삭제예정삭제예정삭제예정삭제예정삭제예정제예정
					<a href="#" style="padding-right:0">
						<span id="msg_btn" rel="popover" data-placement="bottom" >
							<% if not browser.device.mobile? %>
								<i class="fa fa-bell-o" aria-hidden="true"></i>
								<div id="msg_icon_container" style="display:inline; padding:0;">
								</div>
							<% else %>
								<%= link_to raw("<i class='fa fa-bell-o' aria-hidden='true'></i>"), events_path, remote: true %>
							<% end %>
						</span>
					</a>
					<%# current_user.inverse_events.each do |event| %>
						<%# if not event.check %>
						<script>
							//$("#msg_icon_container")
									//.css('position', 'relative')
									//.append('<span	style="background: white; color:black; border-radius: 5px; padding-left: 4px;  
									// position:absolute; margin-left:10%; top:13px; right:5px; font-size:0.9em; width: 17px; height:18px;">N</span>')	
						</script>
						<%# break %>
						<%# end %>
					<%# end %>
					-->
					<!-- msg icon -->
					<!-- msg icon -->
				</li>
				<li>
					<!-- feeldup icon -->
					<a href="#" id="feeldup">
						<span>+ UPLOAD</span>
					</a>
					<!-- feeldup icon -->
				</li>
				<li class="dropdown">
					<!-- profile icon -->
					<!-- profile icon -->
					<a id="profile_img" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<% if current_user.use_photo %>
						<!-- 여기 둥글게 스타일 입혀야댐 -->
						<%= image_tag(current_user.photo) %>
					<% else %>
						<img src="<%= current_user.image_url%>">
					<% end %>
					</a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to '마이필디', my_feeld_path%>
						</li>
						<li>
							<a href="/users/<%=current_user.id%>/edit">정보수정</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<%= link_to '로그아웃', logout_path, method: :delete  %>
						</li>
					</ul>
					<!-- profile icon -->
					<!-- profile icon -->
				</li>
			<!-- 로그인 안되어 있으면 -->
			<!-- 로그인 안되어 있으면 -->
			<!-- 로그인 안되어 있으면 -->
			<% else %>
				<li>
					<!-- login icon -->
					<a href="/login" id="login_btn">
						<span>Login</span>
					</a>
					<!-- login icon -->
				</li>
				<li>
					<!-- join icon -->
					<a href="<%=new_user_path%>" id="join_btn">
						<span>Join</span>
					</a>
					<!-- join icon -->
				</li>
			<% end %>
		</ul>
	</div> 
	<!-- collapase -->
	<!-- collapase -->
	<!-- collapase -->
	
</div>
</nav>
