<style>
	/* search box drop down */
	#holder-search{
		position: relative;
	}
	#dropdown-search{
		position: absolute;
		top: 40px;
		border-radius: 5px;
		box-shadow: 5px 5px 5px #888888;
		background: white;
		display: none;
		z-index: 2000;
	}
</style>
<script>
	$(function(){
		$('#nav_search_input').focus(function(){
			$('#dropdown-search').css('width', $('#holder-search').width() ).fadeIn()
		})

		$('#nav_search_input').focusout(function(){
			$('#dropdown-search').fadeOut()
		})
	})		
</script>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="padding: 2px">
<div class="container-fluid">
	<div class="navbar-header" >
		<%= link_to image_tag('logobeta.png', id: "brand-image"), posts_path , class: "navbar-brand", id: 'navbar-brand-link'%>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="nav-collapse">	
		<form class="navbar-form navbar-left" onsubmit="return false" role="search">
			<div class="input-group" id="holder-search">
				<input id="nav_search_input" autocomplete="off" type="text" class="form-control" style="background-color:rgba(104,104,104,0.3)" placeholder="태그 검색" />
				<div id="dropdown-search">
					<div>추천 태그 검색 준비중</div>
					<div>추천 태그 검색 준비중</div>
					<div>추천 태그 검색 준비중</div>
				</div>
				<span class="input-group-btn">
					<a id="nav_search_submit" href='#'>
						<button type="button" class="btn btn-default" style="background:#333333; border-color:#333333">
								<span style="color:#CBFD34" class="fa fa-search" aria-hidden="true"></span>
						</button>
					</a>
				</span>
			</div>
		</form>
		<script>
			$(function(){
				$('#nav_search_submit').click(function(){
					// 일단 #제거, 태그엔 특수문자 허용하지 말까?
					$('#nav_search_submit').attr('href', '/posts?tag=' + $("#nav_search_input").val())
				})	

				$('#nav_search_input').keyup(function(e){
					if (e.keyCode == 13){
						window.location = '/posts?tag=' + $("#nav_search_input").val();
					}	
				})
			})
		</script>

		<div id="navbar" class="navbar-right" >
		<% if current_user %>
			<% if current_user.use_photo %>
				<!-- 여기 둥글게 스타일 입혀야댐 -->
				<%= link_to image_tag(current_user.photo, id:"profile_img", class: "nav-icon-nohover"), "/my_feeld" %>
			<% else %>
				<img id="profile_img" class="nav-icon-nohover" src="<%= current_user.image_url%>" style="border-radius:3px">
			<% end %>

			<a href="/my_feeld">
				<%= image_tag "myfeeld.png", class: "nav-icon icon-hover", data: {reverse: "#{image_path "myfeeldrev.png"}"} %>
			</a>

			<%# link_to image_tag('home.png', class: "nav-icon"), posts_path  %>

			<% if not browser.device.mobile? %>
			<a href="#message" id='msg_btn' rel="popover" data-placement="bottom">
				<div id="msg_icon_container" style="display:inline">
					<%= image_tag "msg.png", class: "nav-icon", id:"msg_icon", data: {reverse: "#{image_path "msgrev.png"}"} %>
				</div>
			</a>
			<% else %>
					<%= link_to image_tag("msg.png", class: "nav-icon", id:"msg_icon", data: {reverse: "#{image_path "msgrev.png"}"}), events_path, remote: true %>
			<% end %>

			<% current_user.inverse_events.each do |event| %>
				<% if not event.check %>
				<script>
					$("#msg_icon_container")
							.css('position', 'relative')
							.append('<span	style="background: white; color:black; border-radius: 5px; padding-left: 4px;  position:absolute; margin-left:10%; top:13px; right:5px; font-size:0.9em; width: 17px; height:18px;">N</span>')	

				</script>
				<% break %>
				<% end %>
			<% end %>

			<div id="popover-msg-content" class="hide">
				<% if current_user.inverse_events.any? %>
					<% colorW = "white" %>
					<% colorG = "rgba(50,50,50,0.1)" %>
					<% current_user.inverse_events.reverse[0..7].each do |event| %>
					<% if event.check %>
						<div style="position: relative; width:235px; height:60px; background:<%= colorW %>; margin-bottom: 5px; padding:5px;; border-radius: 5px;">
					<% else %>	
						<div style="position: relative; width:235px; height:60px; background:<%= colorG %>; margin-bottom: 5px; padding:5px;; border-radius: 5px;">
					<% end %>
							<% if event.user.use_photo %>
								<%= link_to image_tag(event.user.photo, class: "nav-event-img"), "/my_feeld?user_id=#{event.user.id}" %> 
							<% else %>
								<%= link_to image_tag(event.user.image_url, class: "nav-event-img"), "/my_feeld?user_id=#{event.user.id}" %> 
							<% end %> 

							<%= link_to event.user.name, "/my_feeld?user_id=#{event.user.id}" %> 님이

							<% if event.event_type == 0 %>
								 <strong>팔로우</strong>하셨습니다
							<% elsif event.event_type == 1 %>
								<%= link_to truncate(event.post.title, length:10), post_path(event.post), remote:true, class: "event-post", onclick:"show_modal_bg_board(); showLoadingBG()" %>에 <strong>댓글</strong>을 남기셨습니다
							<% elsif event.event_type == 2 %>
								<%= link_to truncate(event.post.title, length:10), post_path(event.post), remote:true, class: "event-post", onclick:"show_modal_bg_board(); showLoadingBG()" %>에 <strong>Feel'd!</strong> 를 누르셨습니다
							<% else %>
								이상한 값임.
							<% end %>
						</div>
					<% end %>
					<%= link_to "더 보기", events_path, id: "more-events", class: "btn btn-default btn-block", remote: true %>
				<% else %>
					새로운 이벤트가 없습니다 ;D
				<% end %>
			</div>
			<script>
				$(function(){
					$('#msg_btn').popover({
						html: true,
						content: function() {
							return $('#popover-msg-content').html()
						}
					});
				});
			</script>

			<a href="<%= edit_user_path(current_user.id)%>">
			<%= image_tag "setting.png", class: "nav-icon", data: {reverse: "#{image_path "settingrev.png"}"}%>

			<%= link_to image_tag('logout.png', class: "nav-icon-nohover"), logout_path, method: :delete  %>

		<% else %>
			<a href="/login">
				<%= image_tag "navlogin.png", class: 'nav-icon-nohover'%>
			</a>
			<a href="<%= new_user_path %>">
				<%= image_tag "navregister.png", class: 'nav-icon-nohover' %>
			</a>
		<% end %>
		</div>
	</div> <!-- collapase -->
</div>
</nav>
