<nav class="navbar navbar-default navbar-fixed-top" style="padding: 2px">
	<div class="navbar-header" style="margin-left: 2%">
		<%= link_to image_tag('/assets/logo.png', id: "brand-image"), posts_path , class: "navbar-brand", id: 'navbar-brand-link'%>
	</div>

	<form class="navbar-form" onsubmit="return false;"style="width:450px" role="search">
		<div class="form-group" style="width:350px">
			<input id="nav_search_input" type="text" class="form-control" style="width:350px; background-color:rgba(104,104,104,0.3)" placeholder="태그 검색" />
		</div>
		<a id="nav_search_submit" href='#'>
			<button type="button" class="btn btn-primary" style="background:#333333; border-color:#333333">
					<span style="color:#CBFD34" class="fa fa-search" aria-hidden="true"></span>
			</button>
		</a>
	</form>
	<script>
		$(function(){
			$('#nav_search_submit').click(function(){
				// 일단 #제거, 태그엔 특수문자 허용하지 말까?
				$('#nav_search_submit').attr('href', '/posts?tag=' + $("#nav_search_input").val())
			})	

			$('#nav_search_input').keyup(function(e){
				if (e.keyCode == 13){
					window.location = '/posts?tag=' + $("#nav_search_input").val();
				}	
			})
		})
	</script>

	<% if current_user %>
	<div id="navbar" class="navbar-right" style="margin-right: 1%">
		<% if current_user.use_photo %>
			<!-- 여기 둥글게 스타일 입혀야댐 -->
			<%= link_to image_tag(current_user.photo, id:"profile_img", class: "nav-icon-nohover"), "/my_feeld" %>
		<% else %>
			<img id="profile_img" class="nav-icon-nohover" src="<%= current_user.image_url%>" style="border-radius:3px">
		<% end %>

		<%= link_to image_tag('/assets/home.png', class: "nav-icon"), posts_path  %>
		<a href="/my_feeld">
			<img class="nav-icon icon-hover" src="/assets/my.png">
		</a>

		<a href="#message" id='msg_btn' rel="popover" data-placement="bottom">
			<div id="msg_icon_container" style="display:inline">
				<img id="msg_icon" class="nav-icon" src="/assets/msg.png">
			</div>
		</a>
		<script>
			$("#msg_icon_container")
					.css('position', 'relative')
					.append('<span	style="background: red; color:white; border-radius: 5px; padding-left: 4px;  position:absolute; margin-left:10%; top:13px; right:2px;; width: 20px; height:20px;">N</span>')	

		</script>

		<div id="popover-msg-content" class="hide">
			<% if current_user.inverse_events.any? %>	
				<% current_user.inverse_events[0..7].reverse.each do |event| %>
					<div style="width:235px; height:60px; background:rgba(50,50,50,0.1); margin-bottom: 5px; padding:5px;; border-radius: 5px;">
						<% if event.user.use_photo %>
							<img src="<%=event.user.photo%>" style="width:30px; height:30px; border-radius:5px;" />
						<% else %>
							<img src="<%=event.user.image_url%>" style="width:30px; height:30px; border-radius:5px;" />
						<% end %>
						<%= link_to event.user.name, "/my_feeld?user_id=#{event.user.id}" %> 님이
						<% if event.event_type == 0 %>
							 <strong>팔로우</strong>하셨습니다
						<% elsif event.event_type == 1 %>
							<%= link_to event.post.title, post_path(event.post), remote:true, class: "event-post", onclick:"show_modal_bg_board(); showLoadingBG()" %>에 <strong>댓글</strong>을 남기셨습니다
			
						<% elsif event.event_type == 2 %>
							<%= link_to event.post.title, post_path(event.post), remote:true, class: "event-post", onclick:"show_modal_bg_board(); showLoadingBG()" %>에 <strong>Feel'd!</strong> 를 누르셨습니다
						<% else %>
							이상한 값임.
						<% end %>
					</div>
				<% end %>
			<% else %>
				새로운 이벤트가 없습니다 ;D
			<% end %>
		</div>
		<script>
			$(function(){
				$('#msg_btn').popover({
					html: true,
					content: function() {
						return $('#popover-msg-content').html()
					}
				});
			});
		</script>

		<a href="<%= edit_user_path(current_user.id)%>"><img class="nav-icon" src="/assets/setting.png"></a>

		<%= link_to image_tag('/assets/logout.png', class: "nav-icon-nohover"), logout_path, method: :delete  %>

	</div><!--/.nav-collapse -->
	<% else %>
	<div id="navbar" class="navbar-right" style="margin-right: 1%">
		<a href="/login">
		 	<%= image_tag "/assets/navlogin.png", class: 'nav-icon-nohover'%>
		</a>
		<a href="<%= new_user_path %>">
		 	<%= image_tag "/assets/navregister.png", class: 'nav-icon-nohover' %>
		</a>
	</div>
	<% end %>
</nav>
