<!DOCTYPE html>
<html>
<head>
  <title>Archifeeld</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<!-- 합쳐지고 최소화된 최신 CSS -->
	<%# stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" %>
	<%= stylesheet_link_tag 'navbarcolor.css' %>
	<%= stylesheet_link_tag 'searchbox.css' %>
	
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<%= javascript_include_tag "https://code.jquery.com/jquery-1.12.0.js" %>
	<%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js" %>
	<%# javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" %>

  <%= csrf_meta_tags %>
</head>

<body>
	<!-- 필드업 버튼 눌렀을 때 나오는 배경 및 옵션-->
	<div id="feeldup_bg">
		<div id="option_container">
			<table >
				<tr>
				<td style="padding: 5px">
				<!-- link로 바꾸어야한다-->	
					<%= link_to image_tag('/images/txtbtn.png', class: 'option_item'), '/posts/new?type=text', remote: true %>
				</td>
				<td style="padding: 5px">
					<%= link_to image_tag('/images/linkbtn.png', class: 'option_item'), '/posts/new?type=link', remote: true %>
				</td>
				<td style="padding: 5px">
					<%= link_to image_tag('/images/photobtn.png', class: 'option_item'), '/posts/new?type=photo', remote: true %>
				</td>
			</table>
		</div>
		<div id="feeldup_board">
			<%# render :partial => 'posts/text_type_board' %>
		</div>
	</div>	
	<!-- 필드업 버튼 눌렀을 때 나오는 뱅경 및 옵션 끝 -->

	<!-- nav bar : 사이즈 키워야됨. http://bootsnipp.com/snippets/featured/advanced-dropdown-search-->
	<%= render :partial => 'layouts/navbar' %>


	<!-- 오른쪽 고정 메뉴이다 -->
	<!-- right sidebar http://www.bootply.com/101100 -->
	<!-- right fixed menu에 jquery만으로 15% 너비 설정하는걸 주면, 로고 버튼 눌렀을 때
			그 초기 설정이 다시 실행 안되는것 같다. 따라서 css자체에 15%를 주었다.??-->
	<div id="right_fixed_menu" >
		<% if current_user %>
			<a id="feeldup" href="#"><img style="width:100%" src="/images/feeldup.png"></a>
		<% end %>
		<div style="background:white; margin-top: 10px; border-radius: 5px; padding: 3%">
			<span style="font-weight:bold; font-size:1.2em">인기 필드업</span><br>
			<% @posts.reverse.each do |post| %>
				<%= link_to post.title, post %></br>
			<% end %>
		</div>
		<div style="background:white; margin-top: 10px; border-radius: 5px; padding: 3%" >
			<span style="font-weight:bold; font-size:1.2em;">추천 마이필드</span><br>
			<% @users.each do |user| %>
				<span class="reco-myfeeld-item">
					<%= image_tag(user.image_url, class: "reco-myfeeld-img") %> 
					<%=user.name%>
				</span>
				<a>+</a> <br>
			<% end %>
		</div>
	</div>
	<!-- 오른쪽 고정 메뉴이다 끝 -->


	<!-- contents container -->
	<div style="margin-top: 2%">
		<div id="post-container" >
			<div id="search_info_panel">
				#abc #bbc #ccc
				#<%= link_to 'link', '/posts/new?type=link', remote: true %>
				#<%= link_to 'text', '/posts/new?type=text', remote: true %>
				#<%= link_to 'photo', '/posts/new?type=photo', remote: true %>
			</div>
			<%= yield %>
		</div>
	</div>
	<!-- contents container end -->
</body>
</html>
