<!DOCTYPE html>
<html>
<head>
  <title>Archifeeld</title>
	<link rel="icon" type="image/png" href="favicon.png">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= stylesheet_link_tag 'navbarcolor.css' %>
	<%= stylesheet_link_tag 'searchbox.css' %>
	<%# stylesheet_link_tag 'jquery.mCustomScrollbar.css' %>

	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<%= javascript_include_tag "https://code.jquery.com/jquery-1.12.0.js" %>
	<%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js" %>

	<!-- include summernote css/js-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">

	<!-- scroll to jquery plugin https://github.com/flesler/jquery.scrollTo-->
	<%# javascript_include_tag 'jquery.mCustomScrollbar.concat.min.js' %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
	<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" %>

  <%= csrf_meta_tags %>
</head>

<body>
	<!-- 필드업 버튼 눌렀을 때 나오는 배경 및 옵션-->
	<div id="modal_bg">
	</div>	
	<div id="option_container">
		<table >
			<tr>
			<td style="padding: 5px">
				<%= link_to image_tag('/assets/txtbtn.png', class: 'option_item'), '/posts/new?type=text', remote: true %>
				<br>
				<center style="color:white">텍스트</center>
			</td>
			<td style="padding: 5px">
				<%= link_to image_tag('/assets/photobtn.png', class: 'option_item'), '/posts/new?type=photo', remote: true %>
				<br>
				<center style="color:white">사진</center>
			</td>
			<td style="padding: 5px">
				<%= link_to image_tag('/assets/linkbtn.png', class: 'option_item'), '/posts/new?type=link', remote: true %>
				<br>
				<center style="color:white">링크</center>
			</td>
		</table>
	</div>
	<%#<div id="modal_board_wrapper"> %>
	<div id="modal_board">
			<%# render :partial => 'posts/text_type_board' %>
	</div>
	<%# </div> %>
	<!-- 필드업 버튼 눌렀을 때 나오는 뱅경 및 옵션 끝 -->

	<!-- nav bar : 사이즈 키워야됨. http://bootsnipp.com/snippets/featured/advanced-dropdown-search-->
	<%= render :partial => 'layouts/navbar' %>


	<!-- 오른쪽 고정 메뉴이다 -->
	<!-- right sidebar http://www.bootply.com/101100 -->
	<!-- right fixed menu에 jquery만으로 15% 너비 설정하는걸 주면, 로고 버튼 눌렀을 때
			그 초기 설정이 다시 실행 안되는것 같다. 따라서 css자체에 15%를 주었다.??-->
	<div id="right_fixed_menu" >
		<% if current_user %>
			<a id="feeldup" href="#"><img style="width:100%" src="/assets/feeldup.png"></a>
		<% end %>
		<div class="RFMPanel">
			<div class="RFMPanelTitle">인기 필드업 &nbsp;<span id="fav_feeldup" style="color:darkgray; font-size:0.7em;">더보기</span></div>
			<hr style="margin:5px 0">
			<div id="fav_feeldup_content">
				<% @fav_posts[0,15].each do |post| %>
					<div class="RFMPanelItem">
						<%= link_to truncate(post.title, length:20, separater: ' '), post, remote:true, class: 'fav-posts' %></br>
					</div>
				<% end %>
			</div>
		</div>
		<div class="RFMPanel" style="float:left">
			<div class="RFMPanelTitle">인기 태그</div>
			<hr style="margin:5px 0">
			<% @fav_tags[0..10].shuffle.each do |tag| %>
				<div class="tag_div"><a href='/posts?tag=<%= tag %>' class='tag'><%= tag %></a></div>
			<% end %>
		</div>

		<div style="clear:both"></div>

		<div class="RFMPanel" >
			<div class="RFMPanelTitle">추천 마이필드</div>
			<hr style="margin:5px 0">
			<% @users.shuffle[0,3].each do |user| %>
				<div class="RFMPanelItem" >
					<%= link_to image_tag(user.image_url, class: "reco_myfeeld_img"), "/my_feeld?user_id=#{user.id}" %> 
					<%= link_to user.name, "/my_feeld?user_id=#{user.id}"%>
					<%= link_to image_tag('/assets/plusbtn.png', class: "reco_myfeeld_plustbtn"), friendships_path(:friend_id => user.id), :method => :post %>
				</div> 
			<% end %>
		</div>
		

	</div>
	<!-- 오른쪽 고정 메뉴이다 끝 -->

	<!-- contents container -->
	<div id="contents-container" >
		<%= yield %>
	</div>
	<!-- contents container end -->
</body>
</html>
