<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="naver-site-verification" content="ddff20af20dc1d2a6e94fb384802eb4e33240777"/>
	<meta name="description" content="'Feel, Design, 디자인을 유쾌하게!'" />
	<meta property="og:url" content="http://feeeld.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="필디(feeeld)">
	<meta property="og:image" content="<%= image_path "meta.png" %>">    
	<meta property="og:description" content="'Feel, Design, 디자인을 유쾌하게!'"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>Feel;Design</title>
	<link rel="icon" type="image/png" href="<%=image_path "favicon.png" %>">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= stylesheet_link_tag 'navbarcolor.css' %>

	<!-- 제이쿼리 -->
	<%= javascript_include_tag "https://code.jquery.com/jquery-1.12.0.js" %>
	<%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js" %>

	<!-- include summernote css/js-->
	<!--
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
	-->

	<!-- scroll to -->
	<!--
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
	-->

	<!-- bootstrap js -->
	<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" %>

	<%# https://github.com/noraesae/perfect-scrollbar	%>	
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css" rel="stylesheet">
	-->

	<!-- overlay min js -->
	<%= javascript_include_tag "loadingoverlay.min.js" %>

	<%# font css 포함하니 임의로 바뀌어서 여기에 포함했다 %>
	<%# http://spoqa.github.io/spoqa-han-sans/ %>
	<!--<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet"> -->
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag 'lightbox.min.css' %>


	<%# https://silviomoreto.github.io/bootstrap-select/ %>
	i<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

	<%= csrf_meta_tags %>

</head>

<body>
	<!-- 필드업 버튼 눌렀을 때 나오는 배경 및 옵션-->
	<div id="modal_bg">
	</div>	
	<div id="option_container">
		<table >
			<tr>
			<td style="padding: 5px">
				<%= link_to image_tag('photobtn.png', class: 'option_item'), '/posts/new' %>
				<br>
				<center style="color:white;">글쓰기</center>
			</td>
			<td style="padding: 5px">
				<%= link_to image_tag('linkbtn.png', class: 'option_item'), '/posts/new?type=link', remote: true %>
				<br>
				<center style="color:white;">링크 긁어오기</center>
			</td>
		</table>
	</div>
	<!-- 필드업 버튼 눌렀을 때 나오는 뱅경 및 옵션 끝 -->

	<!-- nav bar : 사이즈 키워야됨. http://bootsnipp.com/snippets/featured/advanced-dropdown-search-->
	<%= render :partial => 'layouts/navbar' %>

	<% if not browser.device.mobile? %>
		<!-- contents container -->
			<div id="contents-container" >
				<%= yield %>
			</div>
		<!-- contents container end -->

	<% else %>
		<%# 모바일에서 보이는 부분 %>
		<%# 포스트아이템의 디자인이 약간 바뀌어야 한다.%>
		<%# contents container id 뺐다. 25px marginleft 필요없어서.%>
		<div id="contents-container-mobile" >
			<%= yield %>
		</div>

	<% end %>

<%#<div id="my_modal"class="modal fade" data-keyboard="true" data-backdrop="static" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true"> %>
<div id="my_modal"class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	$('#my_modal').on('hidden.bs.modal', function (e) {
		$('.modal-content').html("");
	})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77436255-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>

